=begin
#UnifAPI

#Unified, AI-friendly API for public-data providers. Single source of truth for the UnifAPI gateway — consumed by docs (Fumadocs), the marketing site, and downstream SDK generators.

The version of the OpenAPI document: 0.0.1
Contact: support@unifapi.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Unifapi
  class BrowserApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Render a page to HTML
    # Render a URL in a headless browser and return the fully rendered HTML after JavaScript execution — use it to read meta tags, structured data, and content that only appears after client-side rendering.
    # @param [Hash] opts the optional parameters
    # @option opts [BrowserHtmlRequest] :browser_html_request 
    # @return [BrowserHtmlPost200Response]
    def browser_html_post(opts = {})
      data, _status_code, _headers = browser_html_post_with_http_info(opts)
      data
    end

    # Render a page to HTML
    # Render a URL in a headless browser and return the fully rendered HTML after JavaScript execution — use it to read meta tags, structured data, and content that only appears after client-side rendering.
    # @param [Hash] opts the optional parameters
    # @option opts [BrowserHtmlRequest] :browser_html_request 
    # @return [Array<(BrowserHtmlPost200Response, Integer, Hash)>] BrowserHtmlPost200Response data, response status code and response headers
    def browser_html_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrowserApi.browser_html_post ...'
      end
      # resource path
      local_var_path = '/browser/html'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'browser_html_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'BrowserHtmlPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrowserApi.browser_html_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrowserApi#browser_html_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Extract links from a page
    # Render a URL in a headless browser and return every link on the page as absolute URLs, including links injected by JavaScript. Optionally restrict to visible links or same-domain links for internal-link and broken-link audits.
    # @param [Hash] opts the optional parameters
    # @option opts [BrowserLinksRequest] :browser_links_request 
    # @return [BrowserLinksPost200Response]
    def browser_links_post(opts = {})
      data, _status_code, _headers = browser_links_post_with_http_info(opts)
      data
    end

    # Extract links from a page
    # Render a URL in a headless browser and return every link on the page as absolute URLs, including links injected by JavaScript. Optionally restrict to visible links or same-domain links for internal-link and broken-link audits.
    # @param [Hash] opts the optional parameters
    # @option opts [BrowserLinksRequest] :browser_links_request 
    # @return [Array<(BrowserLinksPost200Response, Integer, Hash)>] BrowserLinksPost200Response data, response status code and response headers
    def browser_links_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrowserApi.browser_links_post ...'
      end
      # resource path
      local_var_path = '/browser/links'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'browser_links_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'BrowserLinksPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrowserApi.browser_links_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrowserApi#browser_links_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Render a page to Markdown
    # Render a URL in a headless browser (running JavaScript) and return the page as clean Markdown — ideal for content analysis, summarization, and feeding pages to language models.
    # @param [Hash] opts the optional parameters
    # @option opts [BrowserMarkdownRequest] :browser_markdown_request 
    # @return [BrowserMarkdownPost200Response]
    def browser_markdown_post(opts = {})
      data, _status_code, _headers = browser_markdown_post_with_http_info(opts)
      data
    end

    # Render a page to Markdown
    # Render a URL in a headless browser (running JavaScript) and return the page as clean Markdown — ideal for content analysis, summarization, and feeding pages to language models.
    # @param [Hash] opts the optional parameters
    # @option opts [BrowserMarkdownRequest] :browser_markdown_request 
    # @return [Array<(BrowserMarkdownPost200Response, Integer, Hash)>] BrowserMarkdownPost200Response data, response status code and response headers
    def browser_markdown_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrowserApi.browser_markdown_post ...'
      end
      # resource path
      local_var_path = '/browser/markdown'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'browser_markdown_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'BrowserMarkdownPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrowserApi.browser_markdown_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrowserApi#browser_markdown_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Capture a page screenshot
    # Render a URL in a headless browser and capture a screenshot, returned as a base64-encoded image. Control the viewport, capture the full scrollable page, target a CSS selector, and choose png, jpeg, or webp output.
    # @param [Hash] opts the optional parameters
    # @option opts [BrowserScreenshotRequest] :browser_screenshot_request 
    # @return [BrowserScreenshotPost200Response]
    def browser_screenshot_post(opts = {})
      data, _status_code, _headers = browser_screenshot_post_with_http_info(opts)
      data
    end

    # Capture a page screenshot
    # Render a URL in a headless browser and capture a screenshot, returned as a base64-encoded image. Control the viewport, capture the full scrollable page, target a CSS selector, and choose png, jpeg, or webp output.
    # @param [Hash] opts the optional parameters
    # @option opts [BrowserScreenshotRequest] :browser_screenshot_request 
    # @return [Array<(BrowserScreenshotPost200Response, Integer, Hash)>] BrowserScreenshotPost200Response data, response status code and response headers
    def browser_screenshot_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrowserApi.browser_screenshot_post ...'
      end
      # resource path
      local_var_path = '/browser/screenshot'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'browser_screenshot_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'BrowserScreenshotPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrowserApi.browser_screenshot_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrowserApi#browser_screenshot_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
