=begin
#UnifAPI

#Unified, AI-friendly API for public-data providers. Single source of truth for the UnifAPI gateway — consumed by docs (Fumadocs), the marketing site, and downstream SDK generators.

The version of the OpenAPI document: 0.0.1
Contact: support@unifapi.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Unifapi
  class GeoApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get AI search volume for keywords
    # Look up generative-AI search volume and monthly trend for up to 1000 keywords in a location and language.
    # @param [Hash] opts the optional parameters
    # @option opts [GeoKeywordSearchVolumeRequest] :geo_keyword_search_volume_request 
    # @return [GeoKeywordsSearchVolumePost200Response]
    def geo_keywords_search_volume_post(opts = {})
      data, _status_code, _headers = geo_keywords_search_volume_post_with_http_info(opts)
      data
    end

    # Get AI search volume for keywords
    # Look up generative-AI search volume and monthly trend for up to 1000 keywords in a location and language.
    # @param [Hash] opts the optional parameters
    # @option opts [GeoKeywordSearchVolumeRequest] :geo_keyword_search_volume_request 
    # @return [Array<(GeoKeywordsSearchVolumePost200Response, Integer, Hash)>] GeoKeywordsSearchVolumePost200Response data, response status code and response headers
    def geo_keywords_search_volume_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeoApi.geo_keywords_search_volume_post ...'
      end
      # resource path
      local_var_path = '/geo/keywords/search-volume'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'geo_keyword_search_volume_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'GeoKeywordsSearchVolumePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GeoApi.geo_keywords_search_volume_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeoApi#geo_keywords_search_volume_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Aggregate LLM mention metrics by dimension
    # Aggregate LLM mentions of a domain or keyword across platform, location, language, source/search-result domains, and brand entities.
    # @param [Hash] opts the optional parameters
    # @option opts [GeoMentionsAggregatedMetricsRequest] :geo_mentions_aggregated_metrics_request 
    # @return [GeoMentionsAggregatedMetricsPost200Response]
    def geo_mentions_aggregated_metrics_post(opts = {})
      data, _status_code, _headers = geo_mentions_aggregated_metrics_post_with_http_info(opts)
      data
    end

    # Aggregate LLM mention metrics by dimension
    # Aggregate LLM mentions of a domain or keyword across platform, location, language, source/search-result domains, and brand entities.
    # @param [Hash] opts the optional parameters
    # @option opts [GeoMentionsAggregatedMetricsRequest] :geo_mentions_aggregated_metrics_request 
    # @return [Array<(GeoMentionsAggregatedMetricsPost200Response, Integer, Hash)>] GeoMentionsAggregatedMetricsPost200Response data, response status code and response headers
    def geo_mentions_aggregated_metrics_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeoApi.geo_mentions_aggregated_metrics_post ...'
      end
      # resource path
      local_var_path = '/geo/mentions/aggregated-metrics'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'geo_mentions_aggregated_metrics_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'GeoMentionsAggregatedMetricsPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GeoApi.geo_mentions_aggregated_metrics_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeoApi#geo_mentions_aggregated_metrics_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Compare LLM mentions across labeled groups
    # Aggregate and compare LLM mention metrics across several labeled target groups for side-by-side share-of-voice analysis.
    # @param [Hash] opts the optional parameters
    # @option opts [GeoMentionsCrossAggregatedMetricsRequest] :geo_mentions_cross_aggregated_metrics_request 
    # @return [GeoMentionsCrossAggregatedMetricsPost200Response]
    def geo_mentions_cross_aggregated_metrics_post(opts = {})
      data, _status_code, _headers = geo_mentions_cross_aggregated_metrics_post_with_http_info(opts)
      data
    end

    # Compare LLM mentions across labeled groups
    # Aggregate and compare LLM mention metrics across several labeled target groups for side-by-side share-of-voice analysis.
    # @param [Hash] opts the optional parameters
    # @option opts [GeoMentionsCrossAggregatedMetricsRequest] :geo_mentions_cross_aggregated_metrics_request 
    # @return [Array<(GeoMentionsCrossAggregatedMetricsPost200Response, Integer, Hash)>] GeoMentionsCrossAggregatedMetricsPost200Response data, response status code and response headers
    def geo_mentions_cross_aggregated_metrics_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeoApi.geo_mentions_cross_aggregated_metrics_post ...'
      end
      # resource path
      local_var_path = '/geo/mentions/cross-aggregated-metrics'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'geo_mentions_cross_aggregated_metrics_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'GeoMentionsCrossAggregatedMetricsPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GeoApi.geo_mentions_cross_aggregated_metrics_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeoApi#geo_mentions_cross_aggregated_metrics_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search LLM mentions of a domain or keyword
    # Find where a domain or keyword is mentioned across ChatGPT and AI search answers, with the question, answer, cited sources, and AI search volume.
    # @param [Hash] opts the optional parameters
    # @option opts [GeoMentionsSearchRequest] :geo_mentions_search_request 
    # @return [GeoMentionsSearchPost200Response]
    def geo_mentions_search_post(opts = {})
      data, _status_code, _headers = geo_mentions_search_post_with_http_info(opts)
      data
    end

    # Search LLM mentions of a domain or keyword
    # Find where a domain or keyword is mentioned across ChatGPT and AI search answers, with the question, answer, cited sources, and AI search volume.
    # @param [Hash] opts the optional parameters
    # @option opts [GeoMentionsSearchRequest] :geo_mentions_search_request 
    # @return [Array<(GeoMentionsSearchPost200Response, Integer, Hash)>] GeoMentionsSearchPost200Response data, response status code and response headers
    def geo_mentions_search_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeoApi.geo_mentions_search_post ...'
      end
      # resource path
      local_var_path = '/geo/mentions/search'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'geo_mentions_search_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'GeoMentionsSearchPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GeoApi.geo_mentions_search_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeoApi#geo_mentions_search_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List domains most cited in LLM answers
    # Rank the domains most frequently cited as sources in LLM answers for a target domain or keyword, with per-dimension breakdowns.
    # @param [Hash] opts the optional parameters
    # @option opts [GeoMentionsTopDomainsRequest] :geo_mentions_top_domains_request 
    # @return [GeoMentionsTopDomainsPost200Response]
    def geo_mentions_top_domains_post(opts = {})
      data, _status_code, _headers = geo_mentions_top_domains_post_with_http_info(opts)
      data
    end

    # List domains most cited in LLM answers
    # Rank the domains most frequently cited as sources in LLM answers for a target domain or keyword, with per-dimension breakdowns.
    # @param [Hash] opts the optional parameters
    # @option opts [GeoMentionsTopDomainsRequest] :geo_mentions_top_domains_request 
    # @return [Array<(GeoMentionsTopDomainsPost200Response, Integer, Hash)>] GeoMentionsTopDomainsPost200Response data, response status code and response headers
    def geo_mentions_top_domains_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeoApi.geo_mentions_top_domains_post ...'
      end
      # resource path
      local_var_path = '/geo/mentions/top-domains'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'geo_mentions_top_domains_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'GeoMentionsTopDomainsPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GeoApi.geo_mentions_top_domains_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeoApi#geo_mentions_top_domains_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List pages most cited in LLM answers
    # Rank the pages most frequently cited as sources in LLM answers for a target domain or keyword, with per-dimension breakdowns.
    # @param [Hash] opts the optional parameters
    # @option opts [GeoMentionsTopPagesRequest] :geo_mentions_top_pages_request 
    # @return [GeoMentionsTopPagesPost200Response]
    def geo_mentions_top_pages_post(opts = {})
      data, _status_code, _headers = geo_mentions_top_pages_post_with_http_info(opts)
      data
    end

    # List pages most cited in LLM answers
    # Rank the pages most frequently cited as sources in LLM answers for a target domain or keyword, with per-dimension breakdowns.
    # @param [Hash] opts the optional parameters
    # @option opts [GeoMentionsTopPagesRequest] :geo_mentions_top_pages_request 
    # @return [Array<(GeoMentionsTopPagesPost200Response, Integer, Hash)>] GeoMentionsTopPagesPost200Response data, response status code and response headers
    def geo_mentions_top_pages_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeoApi.geo_mentions_top_pages_post ...'
      end
      # resource path
      local_var_path = '/geo/mentions/top-pages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'geo_mentions_top_pages_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'GeoMentionsTopPagesPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GeoApi.geo_mentions_top_pages_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeoApi#geo_mentions_top_pages_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search AI Mode generative results
    # Run one live AI Mode search for generative answer evidence, cited sources, and target-domain visibility.
    # @param [Hash] opts the optional parameters
    # @option opts [GeoSerpRequest] :geo_serp_request 
    # @return [GeoSerpPost200Response]
    def geo_serp_post(opts = {})
      data, _status_code, _headers = geo_serp_post_with_http_info(opts)
      data
    end

    # Search AI Mode generative results
    # Run one live AI Mode search for generative answer evidence, cited sources, and target-domain visibility.
    # @param [Hash] opts the optional parameters
    # @option opts [GeoSerpRequest] :geo_serp_request 
    # @return [Array<(GeoSerpPost200Response, Integer, Hash)>] GeoSerpPost200Response data, response status code and response headers
    def geo_serp_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GeoApi.geo_serp_post ...'
      end
      # resource path
      local_var_path = '/geo/serp'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'geo_serp_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'GeoSerpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GeoApi.geo_serp_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GeoApi#geo_serp_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
