=begin
#UnifAPI

#Unified, AI-friendly API for public-data providers. Single source of truth for the UnifAPI gateway — consumed by docs (Fumadocs), the marketing site, and downstream SDK generators.

The version of the OpenAPI document: 0.0.1
Contact: support@unifapi.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Unifapi
  class HackerNewsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Hacker News item by ID
    # Fetch a single Hacker News item. Stories, comments, jobs, polls, and poll options share the same item shape.
    # @param id [Integer] Hacker News item id.
    # @param [Hash] opts the optional parameters
    # @return [HackerNewsItemsIdGet200Response]
    def hacker_news_items_id_get(id, opts = {})
      data, _status_code, _headers = hacker_news_items_id_get_with_http_info(id, opts)
      data
    end

    # Get Hacker News item by ID
    # Fetch a single Hacker News item. Stories, comments, jobs, polls, and poll options share the same item shape.
    # @param id [Integer] Hacker News item id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(HackerNewsItemsIdGet200Response, Integer, Hash)>] HackerNewsItemsIdGet200Response data, response status code and response headers
    def hacker_news_items_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HackerNewsApi.hacker_news_items_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling HackerNewsApi.hacker_news_items_id_get"
      end
      # resource path
      local_var_path = '/hacker-news/items/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HackerNewsItemsIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"HackerNewsApi.hacker_news_items_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HackerNewsApi#hacker_news_items_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get largest Hacker News item ID
    # Returns the current largest Hacker News item id.
    # @param [Hash] opts the optional parameters
    # @return [HackerNewsMaxItemGet200Response]
    def hacker_news_max_item_get(opts = {})
      data, _status_code, _headers = hacker_news_max_item_get_with_http_info(opts)
      data
    end

    # Get largest Hacker News item ID
    # Returns the current largest Hacker News item id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(HackerNewsMaxItemGet200Response, Integer, Hash)>] HackerNewsMaxItemGet200Response data, response status code and response headers
    def hacker_news_max_item_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HackerNewsApi.hacker_news_max_item_get ...'
      end
      # resource path
      local_var_path = '/hacker-news/max-item'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HackerNewsMaxItemGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"HackerNewsApi.hacker_news_max_item_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HackerNewsApi#hacker_news_max_item_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Hacker News story IDs
    # List Hacker News story ids from a named feed. Use `/hacker-news/items/{id}` to fetch item details.
    # @param feed [HackerNewsStoryFeed] Story feed: top, new, best, ask, show, or jobs.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Zero-based offset cursor returned as &#x60;next_cursor&#x60;.
    # @option opts [Integer] :limit  (default to 100)
    # @return [HackerNewsStoriesFeedGet200Response]
    def hacker_news_stories_feed_get(feed, opts = {})
      data, _status_code, _headers = hacker_news_stories_feed_get_with_http_info(feed, opts)
      data
    end

    # List Hacker News story IDs
    # List Hacker News story ids from a named feed. Use &#x60;/hacker-news/items/{id}&#x60; to fetch item details.
    # @param feed [HackerNewsStoryFeed] Story feed: top, new, best, ask, show, or jobs.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Zero-based offset cursor returned as &#x60;next_cursor&#x60;.
    # @option opts [Integer] :limit  (default to 100)
    # @return [Array<(HackerNewsStoriesFeedGet200Response, Integer, Hash)>] HackerNewsStoriesFeedGet200Response data, response status code and response headers
    def hacker_news_stories_feed_get_with_http_info(feed, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HackerNewsApi.hacker_news_stories_feed_get ...'
      end
      # verify the required parameter 'feed' is set
      if @api_client.config.client_side_validation && feed.nil?
        fail ArgumentError, "Missing the required parameter 'feed' when calling HackerNewsApi.hacker_news_stories_feed_get"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling HackerNewsApi.hacker_news_stories_feed_get, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling HackerNewsApi.hacker_news_stories_feed_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/hacker-news/stories/{feed}'.sub('{' + 'feed' + '}', CGI.escape(feed.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HackerNewsStoriesFeedGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"HackerNewsApi.hacker_news_stories_feed_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HackerNewsApi#hacker_news_stories_feed_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Hacker News story items
    # Fetch item details from a named Hacker News story feed in one operation. Use this when an agent needs readable story titles, URLs, scores, authors, or comment counts.
    # @param feed [HackerNewsStoryFeed] Story feed: top, new, best, ask, show, or jobs.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Zero-based offset cursor returned as &#x60;next_cursor&#x60;.
    # @option opts [Integer] :limit  (default to 20)
    # @return [HackerNewsStoriesFeedItemsGet200Response]
    def hacker_news_stories_feed_items_get(feed, opts = {})
      data, _status_code, _headers = hacker_news_stories_feed_items_get_with_http_info(feed, opts)
      data
    end

    # List Hacker News story items
    # Fetch item details from a named Hacker News story feed in one operation. Use this when an agent needs readable story titles, URLs, scores, authors, or comment counts.
    # @param feed [HackerNewsStoryFeed] Story feed: top, new, best, ask, show, or jobs.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Zero-based offset cursor returned as &#x60;next_cursor&#x60;.
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(HackerNewsStoriesFeedItemsGet200Response, Integer, Hash)>] HackerNewsStoriesFeedItemsGet200Response data, response status code and response headers
    def hacker_news_stories_feed_items_get_with_http_info(feed, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HackerNewsApi.hacker_news_stories_feed_items_get ...'
      end
      # verify the required parameter 'feed' is set
      if @api_client.config.client_side_validation && feed.nil?
        fail ArgumentError, "Missing the required parameter 'feed' when calling HackerNewsApi.hacker_news_stories_feed_items_get"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling HackerNewsApi.hacker_news_stories_feed_items_get, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling HackerNewsApi.hacker_news_stories_feed_items_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/hacker-news/stories/{feed}/items'.sub('{' + 'feed' + '}', CGI.escape(feed.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HackerNewsStoriesFeedItemsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"HackerNewsApi.hacker_news_stories_feed_items_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HackerNewsApi#hacker_news_stories_feed_items_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get changed Hacker News items and profiles
    # Returns recently changed Hacker News item ids and user profile ids.
    # @param [Hash] opts the optional parameters
    # @return [HackerNewsUpdatesGet200Response]
    def hacker_news_updates_get(opts = {})
      data, _status_code, _headers = hacker_news_updates_get_with_http_info(opts)
      data
    end

    # Get changed Hacker News items and profiles
    # Returns recently changed Hacker News item ids and user profile ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(HackerNewsUpdatesGet200Response, Integer, Hash)>] HackerNewsUpdatesGet200Response data, response status code and response headers
    def hacker_news_updates_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HackerNewsApi.hacker_news_updates_get ...'
      end
      # resource path
      local_var_path = '/hacker-news/updates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HackerNewsUpdatesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"HackerNewsApi.hacker_news_updates_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HackerNewsApi#hacker_news_updates_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Hacker News user by ID
    # Fetch a public Hacker News user profile by case-sensitive username.
    # @param id [String] Case-sensitive Hacker News username.
    # @param [Hash] opts the optional parameters
    # @return [HackerNewsUsersIdGet200Response]
    def hacker_news_users_id_get(id, opts = {})
      data, _status_code, _headers = hacker_news_users_id_get_with_http_info(id, opts)
      data
    end

    # Get Hacker News user by ID
    # Fetch a public Hacker News user profile by case-sensitive username.
    # @param id [String] Case-sensitive Hacker News username.
    # @param [Hash] opts the optional parameters
    # @return [Array<(HackerNewsUsersIdGet200Response, Integer, Hash)>] HackerNewsUsersIdGet200Response data, response status code and response headers
    def hacker_news_users_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: HackerNewsApi.hacker_news_users_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling HackerNewsApi.hacker_news_users_id_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling HackerNewsApi.hacker_news_users_id_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/hacker-news/users/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HackerNewsUsersIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"HackerNewsApi.hacker_news_users_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: HackerNewsApi#hacker_news_users_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
