=begin
#UnifAPI

#Unified, AI-friendly API for public-data providers. Single source of truth for the UnifAPI gateway — consumed by docs (Fumadocs), the marketing site, and downstream SDK generators.

The version of the OpenAPI document: 0.0.1
Contact: support@unifapi.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Unifapi
  class InstagramApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Browse Instagram's Explore feed
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [InstagramExploreGet200Response]
    def instagram_explore_get(opts = {})
      data, _status_code, _headers = instagram_explore_get_with_http_info(opts)
      data
    end

    # Browse Instagram&#39;s Explore feed
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(InstagramExploreGet200Response, Integer, Hash)>] InstagramExploreGet200Response data, response status code and response headers
    def instagram_explore_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_explore_get ...'
      end
      # resource path
      local_var_path = '/instagram/explore'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramExploreGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_explore_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_explore_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an Instagram location by id
    # @param id [String] Numeric Instagram location id.
    # @param [Hash] opts the optional parameters
    # @return [InstagramLocationsIdGet200Response]
    def instagram_locations_id_get(id, opts = {})
      data, _status_code, _headers = instagram_locations_id_get_with_http_info(id, opts)
      data
    end

    # Get an Instagram location by id
    # @param id [String] Numeric Instagram location id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstagramLocationsIdGet200Response, Integer, Hash)>] InstagramLocationsIdGet200Response data, response status code and response headers
    def instagram_locations_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_locations_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InstagramApi.instagram_locations_id_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling InstagramApi.instagram_locations_id_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/instagram/locations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramLocationsIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_locations_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_locations_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Instagram locations geographically near a given location
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InstagramLocationsIdNearbyGet200Response]
    def instagram_locations_id_nearby_get(id, opts = {})
      data, _status_code, _headers = instagram_locations_id_nearby_get_with_http_info(id, opts)
      data
    end

    # List Instagram locations geographically near a given location
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstagramLocationsIdNearbyGet200Response, Integer, Hash)>] InstagramLocationsIdNearbyGet200Response data, response status code and response headers
    def instagram_locations_id_nearby_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_locations_id_nearby_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InstagramApi.instagram_locations_id_nearby_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling InstagramApi.instagram_locations_id_nearby_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/instagram/locations/{id}/nearby'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramLocationsIdNearbyGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_locations_id_nearby_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_locations_id_nearby_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List posts tagged with an Instagram location
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [String] :tab Which tab to fetch — &#x60;ranked&#x60; (top) or &#x60;recent&#x60; (latest).
    # @return [InstagramExploreGet200Response]
    def instagram_locations_id_posts_get(id, opts = {})
      data, _status_code, _headers = instagram_locations_id_posts_get_with_http_info(id, opts)
      data
    end

    # List posts tagged with an Instagram location
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [String] :tab Which tab to fetch — &#x60;ranked&#x60; (top) or &#x60;recent&#x60; (latest).
    # @return [Array<(InstagramExploreGet200Response, Integer, Hash)>] InstagramExploreGet200Response data, response status code and response headers
    def instagram_locations_id_posts_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_locations_id_posts_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InstagramApi.instagram_locations_id_posts_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling InstagramApi.instagram_locations_id_posts_get, the character length must be great than or equal to 1.'
      end

      allowable_values = ["ranked", "recent"]
      if @api_client.config.client_side_validation && opts[:'tab'] && !allowable_values.include?(opts[:'tab'])
        fail ArgumentError, "invalid value for \"tab\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/instagram/locations/{id}/posts'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'tab'] = opts[:'tab'] if !opts[:'tab'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramExploreGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_locations_id_posts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_locations_id_posts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List replies to an Instagram comment
    # @param shortcode [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [InstagramPostsShortcodeCommentsCommentIdRepliesGet200Response]
    def instagram_posts_shortcode_comments_comment_id_replies_get(shortcode, comment_id, opts = {})
      data, _status_code, _headers = instagram_posts_shortcode_comments_comment_id_replies_get_with_http_info(shortcode, comment_id, opts)
      data
    end

    # List replies to an Instagram comment
    # @param shortcode [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(InstagramPostsShortcodeCommentsCommentIdRepliesGet200Response, Integer, Hash)>] InstagramPostsShortcodeCommentsCommentIdRepliesGet200Response data, response status code and response headers
    def instagram_posts_shortcode_comments_comment_id_replies_get_with_http_info(shortcode, comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_posts_shortcode_comments_comment_id_replies_get ...'
      end
      # verify the required parameter 'shortcode' is set
      if @api_client.config.client_side_validation && shortcode.nil?
        fail ArgumentError, "Missing the required parameter 'shortcode' when calling InstagramApi.instagram_posts_shortcode_comments_comment_id_replies_get"
      end
      if @api_client.config.client_side_validation && shortcode.to_s.length < 1
        fail ArgumentError, 'invalid value for "shortcode" when calling InstagramApi.instagram_posts_shortcode_comments_comment_id_replies_get, the character length must be great than or equal to 1.'
      end

      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling InstagramApi.instagram_posts_shortcode_comments_comment_id_replies_get"
      end
      if @api_client.config.client_side_validation && comment_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "comment_id" when calling InstagramApi.instagram_posts_shortcode_comments_comment_id_replies_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/instagram/posts/{shortcode}/comments/{commentId}/replies'.sub('{' + 'shortcode' + '}', CGI.escape(shortcode.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramPostsShortcodeCommentsCommentIdRepliesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_posts_shortcode_comments_comment_id_replies_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_posts_shortcode_comments_comment_id_replies_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List comments on an Instagram post
    # @param shortcode [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [String] :sort 
    # @return [InstagramPostsShortcodeCommentsCommentIdRepliesGet200Response]
    def instagram_posts_shortcode_comments_get(shortcode, opts = {})
      data, _status_code, _headers = instagram_posts_shortcode_comments_get_with_http_info(shortcode, opts)
      data
    end

    # List comments on an Instagram post
    # @param shortcode [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [String] :sort 
    # @return [Array<(InstagramPostsShortcodeCommentsCommentIdRepliesGet200Response, Integer, Hash)>] InstagramPostsShortcodeCommentsCommentIdRepliesGet200Response data, response status code and response headers
    def instagram_posts_shortcode_comments_get_with_http_info(shortcode, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_posts_shortcode_comments_get ...'
      end
      # verify the required parameter 'shortcode' is set
      if @api_client.config.client_side_validation && shortcode.nil?
        fail ArgumentError, "Missing the required parameter 'shortcode' when calling InstagramApi.instagram_posts_shortcode_comments_get"
      end
      if @api_client.config.client_side_validation && shortcode.to_s.length < 1
        fail ArgumentError, 'invalid value for "shortcode" when calling InstagramApi.instagram_posts_shortcode_comments_get, the character length must be great than or equal to 1.'
      end

      allowable_values = ["popular", "newest"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/instagram/posts/{shortcode}/comments'.sub('{' + 'shortcode' + '}', CGI.escape(shortcode.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramPostsShortcodeCommentsCommentIdRepliesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_posts_shortcode_comments_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_posts_shortcode_comments_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an Instagram post (photo / video / carousel / reel) by shortcode
    # `shortcode` is the slug from the post URL, e.g. `DUajw4YkorV` in `instagram.com/p/DUajw4YkorV/`.
    # @param shortcode [String] 
    # @param [Hash] opts the optional parameters
    # @return [InstagramPostsShortcodeGet200Response]
    def instagram_posts_shortcode_get(shortcode, opts = {})
      data, _status_code, _headers = instagram_posts_shortcode_get_with_http_info(shortcode, opts)
      data
    end

    # Get an Instagram post (photo / video / carousel / reel) by shortcode
    # &#x60;shortcode&#x60; is the slug from the post URL, e.g. &#x60;DUajw4YkorV&#x60; in &#x60;instagram.com/p/DUajw4YkorV/&#x60;.
    # @param shortcode [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstagramPostsShortcodeGet200Response, Integer, Hash)>] InstagramPostsShortcodeGet200Response data, response status code and response headers
    def instagram_posts_shortcode_get_with_http_info(shortcode, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_posts_shortcode_get ...'
      end
      # verify the required parameter 'shortcode' is set
      if @api_client.config.client_side_validation && shortcode.nil?
        fail ArgumentError, "Missing the required parameter 'shortcode' when calling InstagramApi.instagram_posts_shortcode_get"
      end
      if @api_client.config.client_side_validation && shortcode.to_s.length < 1
        fail ArgumentError, 'invalid value for "shortcode" when calling InstagramApi.instagram_posts_shortcode_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/instagram/posts/{shortcode}'.sub('{' + 'shortcode' + '}', CGI.escape(shortcode.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramPostsShortcodeGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_posts_shortcode_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_posts_shortcode_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Browse Instagram's recommended Reels feed
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [InstagramExploreGet200Response]
    def instagram_reels_recommended_get(opts = {})
      data, _status_code, _headers = instagram_reels_recommended_get_with_http_info(opts)
      data
    end

    # Browse Instagram&#39;s recommended Reels feed
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(InstagramExploreGet200Response, Integer, Hash)>] InstagramExploreGet200Response data, response status code and response headers
    def instagram_reels_recommended_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_reels_recommended_get ...'
      end
      # resource path
      local_var_path = '/instagram/reels/recommended'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramExploreGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_reels_recommended_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_reels_recommended_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Convert an Instagram post shortcode into its numeric media_id
    # @param shortcode [String] 
    # @param [Hash] opts the optional parameters
    # @return [InstagramResolveMediaIdGet200Response]
    def instagram_resolve_media_id_get(shortcode, opts = {})
      data, _status_code, _headers = instagram_resolve_media_id_get_with_http_info(shortcode, opts)
      data
    end

    # Convert an Instagram post shortcode into its numeric media_id
    # @param shortcode [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstagramResolveMediaIdGet200Response, Integer, Hash)>] InstagramResolveMediaIdGet200Response data, response status code and response headers
    def instagram_resolve_media_id_get_with_http_info(shortcode, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_resolve_media_id_get ...'
      end
      # verify the required parameter 'shortcode' is set
      if @api_client.config.client_side_validation && shortcode.nil?
        fail ArgumentError, "Missing the required parameter 'shortcode' when calling InstagramApi.instagram_resolve_media_id_get"
      end
      if @api_client.config.client_side_validation && shortcode.to_s.length < 1
        fail ArgumentError, 'invalid value for "shortcode" when calling InstagramApi.instagram_resolve_media_id_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/instagram/resolve/media-id'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'shortcode'] = shortcode

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramResolveMediaIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_resolve_media_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_resolve_media_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Convert an Instagram numeric media_id into its shortcode
    # @param media_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InstagramResolveMediaIdGet200Response]
    def instagram_resolve_shortcode_from_media_get(media_id, opts = {})
      data, _status_code, _headers = instagram_resolve_shortcode_from_media_get_with_http_info(media_id, opts)
      data
    end

    # Convert an Instagram numeric media_id into its shortcode
    # @param media_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstagramResolveMediaIdGet200Response, Integer, Hash)>] InstagramResolveMediaIdGet200Response data, response status code and response headers
    def instagram_resolve_shortcode_from_media_get_with_http_info(media_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_resolve_shortcode_from_media_get ...'
      end
      # verify the required parameter 'media_id' is set
      if @api_client.config.client_side_validation && media_id.nil?
        fail ArgumentError, "Missing the required parameter 'media_id' when calling InstagramApi.instagram_resolve_shortcode_from_media_get"
      end
      if @api_client.config.client_side_validation && media_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "media_id" when calling InstagramApi.instagram_resolve_shortcode_from_media_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/instagram/resolve/shortcode-from-media'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'media_id'] = media_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramResolveMediaIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_resolve_shortcode_from_media_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_resolve_shortcode_from_media_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Extract a post shortcode from an Instagram URL
    # @param url [String] 
    # @param [Hash] opts the optional parameters
    # @return [InstagramResolveShortcodeGet200Response]
    def instagram_resolve_shortcode_get(url, opts = {})
      data, _status_code, _headers = instagram_resolve_shortcode_get_with_http_info(url, opts)
      data
    end

    # Extract a post shortcode from an Instagram URL
    # @param url [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstagramResolveShortcodeGet200Response, Integer, Hash)>] InstagramResolveShortcodeGet200Response data, response status code and response headers
    def instagram_resolve_shortcode_get_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_resolve_shortcode_get ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling InstagramApi.instagram_resolve_shortcode_get"
      end
      # resource path
      local_var_path = '/instagram/resolve/shortcode'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramResolveShortcodeGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_resolve_shortcode_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_resolve_shortcode_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Convert an Instagram username into its numeric user_id (pk)
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [InstagramResolveUserIdGet200Response]
    def instagram_resolve_user_id_get(username, opts = {})
      data, _status_code, _headers = instagram_resolve_user_id_get_with_http_info(username, opts)
      data
    end

    # Convert an Instagram username into its numeric user_id (pk)
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstagramResolveUserIdGet200Response, Integer, Hash)>] InstagramResolveUserIdGet200Response data, response status code and response headers
    def instagram_resolve_user_id_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_resolve_user_id_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_resolve_user_id_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling InstagramApi.instagram_resolve_user_id_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/instagram/resolve/user-id'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'username'] = username

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramResolveUserIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_resolve_user_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_resolve_user_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cross-type Instagram search (posts/reels)
    # @param q [String] Search keyword.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [InstagramExploreGet200Response]
    def instagram_search_get(q, opts = {})
      data, _status_code, _headers = instagram_search_get_with_http_info(q, opts)
      data
    end

    # Cross-type Instagram search (posts/reels)
    # @param q [String] Search keyword.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(InstagramExploreGet200Response, Integer, Hash)>] InstagramExploreGet200Response data, response status code and response headers
    def instagram_search_get_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_search_get ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling InstagramApi.instagram_search_get"
      end
      if @api_client.config.client_side_validation && q.to_s.length < 1
        fail ArgumentError, 'invalid value for "q" when calling InstagramApi.instagram_search_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/instagram/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramExploreGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_search_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_search_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List followers of an Instagram user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [InstagramUsersUsernameFollowersGet200Response]
    def instagram_users_username_followers_get(username, opts = {})
      data, _status_code, _headers = instagram_users_username_followers_get_with_http_info(username, opts)
      data
    end

    # List followers of an Instagram user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(InstagramUsersUsernameFollowersGet200Response, Integer, Hash)>] InstagramUsersUsernameFollowersGet200Response data, response status code and response headers
    def instagram_users_username_followers_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_users_username_followers_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_users_username_followers_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling InstagramApi.instagram_users_username_followers_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/instagram/users/{username}/followers'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramUsersUsernameFollowersGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_users_username_followers_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_users_username_followers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List accounts an Instagram user follows
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [InstagramUsersUsernameFollowersGet200Response]
    def instagram_users_username_following_get(username, opts = {})
      data, _status_code, _headers = instagram_users_username_following_get_with_http_info(username, opts)
      data
    end

    # List accounts an Instagram user follows
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(InstagramUsersUsernameFollowersGet200Response, Integer, Hash)>] InstagramUsersUsernameFollowersGet200Response data, response status code and response headers
    def instagram_users_username_following_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_users_username_following_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_users_username_following_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling InstagramApi.instagram_users_username_following_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/instagram/users/{username}/following'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramUsersUsernameFollowersGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_users_username_following_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_users_username_following_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List former usernames for an Instagram user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [InstagramUsersUsernameFormerUsernamesGet200Response]
    def instagram_users_username_former_usernames_get(username, opts = {})
      data, _status_code, _headers = instagram_users_username_former_usernames_get_with_http_info(username, opts)
      data
    end

    # List former usernames for an Instagram user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstagramUsersUsernameFormerUsernamesGet200Response, Integer, Hash)>] InstagramUsersUsernameFormerUsernamesGet200Response data, response status code and response headers
    def instagram_users_username_former_usernames_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_users_username_former_usernames_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_users_username_former_usernames_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling InstagramApi.instagram_users_username_former_usernames_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/instagram/users/{username}/former-usernames'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramUsersUsernameFormerUsernamesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_users_username_former_usernames_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_users_username_former_usernames_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an Instagram user profile by username
    # @param username [String] Instagram URL slug, e.g. &#x60;instagram&#x60;
    # @param [Hash] opts the optional parameters
    # @return [InstagramUsersUsernameGet200Response]
    def instagram_users_username_get(username, opts = {})
      data, _status_code, _headers = instagram_users_username_get_with_http_info(username, opts)
      data
    end

    # Get an Instagram user profile by username
    # @param username [String] Instagram URL slug, e.g. &#x60;instagram&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstagramUsersUsernameGet200Response, Integer, Hash)>] InstagramUsersUsernameGet200Response data, response status code and response headers
    def instagram_users_username_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_users_username_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_users_username_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling InstagramApi.instagram_users_username_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/instagram/users/{username}'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramUsersUsernameGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_users_username_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_users_username_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Instagram highlight reels for a user (metadata only)
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [InstagramUsersUsernameHighlightsGet200Response]
    def instagram_users_username_highlights_get(username, opts = {})
      data, _status_code, _headers = instagram_users_username_highlights_get_with_http_info(username, opts)
      data
    end

    # List Instagram highlight reels for a user (metadata only)
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(InstagramUsersUsernameHighlightsGet200Response, Integer, Hash)>] InstagramUsersUsernameHighlightsGet200Response data, response status code and response headers
    def instagram_users_username_highlights_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_users_username_highlights_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_users_username_highlights_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling InstagramApi.instagram_users_username_highlights_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/instagram/users/{username}/highlights'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramUsersUsernameHighlightsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_users_username_highlights_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_users_username_highlights_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List feed posts authored by an Instagram user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [InstagramExploreGet200Response]
    def instagram_users_username_posts_get(username, opts = {})
      data, _status_code, _headers = instagram_users_username_posts_get_with_http_info(username, opts)
      data
    end

    # List feed posts authored by an Instagram user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(InstagramExploreGet200Response, Integer, Hash)>] InstagramExploreGet200Response data, response status code and response headers
    def instagram_users_username_posts_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_users_username_posts_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_users_username_posts_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling InstagramApi.instagram_users_username_posts_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/instagram/users/{username}/posts'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramExploreGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_users_username_posts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_users_username_posts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List reels authored by an Instagram user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [InstagramExploreGet200Response]
    def instagram_users_username_reels_get(username, opts = {})
      data, _status_code, _headers = instagram_users_username_reels_get_with_http_info(username, opts)
      data
    end

    # List reels authored by an Instagram user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(InstagramExploreGet200Response, Integer, Hash)>] InstagramExploreGet200Response data, response status code and response headers
    def instagram_users_username_reels_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_users_username_reels_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_users_username_reels_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling InstagramApi.instagram_users_username_reels_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/instagram/users/{username}/reels'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramExploreGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_users_username_reels_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_users_username_reels_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List active Instagram stories for a user
    # Returns the user's currently-live story tray (empty when the user has no active stories).
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [InstagramExploreGet200Response]
    def instagram_users_username_stories_get(username, opts = {})
      data, _status_code, _headers = instagram_users_username_stories_get_with_http_info(username, opts)
      data
    end

    # List active Instagram stories for a user
    # Returns the user&#39;s currently-live story tray (empty when the user has no active stories).
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstagramExploreGet200Response, Integer, Hash)>] InstagramExploreGet200Response data, response status code and response headers
    def instagram_users_username_stories_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_users_username_stories_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_users_username_stories_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling InstagramApi.instagram_users_username_stories_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/instagram/users/{username}/stories'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramExploreGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_users_username_stories_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_users_username_stories_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List posts an Instagram user is tagged in
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [InstagramExploreGet200Response]
    def instagram_users_username_tagged_posts_get(username, opts = {})
      data, _status_code, _headers = instagram_users_username_tagged_posts_get_with_http_info(username, opts)
      data
    end

    # List posts an Instagram user is tagged in
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(InstagramExploreGet200Response, Integer, Hash)>] InstagramExploreGet200Response data, response status code and response headers
    def instagram_users_username_tagged_posts_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstagramApi.instagram_users_username_tagged_posts_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling InstagramApi.instagram_users_username_tagged_posts_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling InstagramApi.instagram_users_username_tagged_posts_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/instagram/users/{username}/tagged-posts'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramExploreGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InstagramApi.instagram_users_username_tagged_posts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstagramApi#instagram_users_username_tagged_posts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
