=begin
#UnifAPI

#Unified, AI-friendly API for public-data providers. Single source of truth for the UnifAPI gateway — consumed by docs (Fumadocs), the marketing site, and downstream SDK generators.

The version of the OpenAPI document: 0.0.1
Contact: support@unifapi.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Unifapi
  class LinkedinApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a LinkedIn Ad Library entry by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [LinkedinAdsIdGet200Response]
    def linkedin_ads_id_get(id, opts = {})
      data, _status_code, _headers = linkedin_ads_id_get_with_http_info(id, opts)
      data
    end

    # Get a LinkedIn Ad Library entry by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkedinAdsIdGet200Response, Integer, Hash)>] LinkedinAdsIdGet200Response data, response status code and response headers
    def linkedin_ads_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_ads_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LinkedinApi.linkedin_ads_id_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling LinkedinApi.linkedin_ads_id_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/ads/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinAdsIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_ads_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_ads_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a LinkedIn company's affiliated pages
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [LinkedinCompaniesSlugAffiliatedGet200Response]
    def linkedin_companies_slug_affiliated_get(slug, opts = {})
      data, _status_code, _headers = linkedin_companies_slug_affiliated_get_with_http_info(slug, opts)
      data
    end

    # List a LinkedIn company&#39;s affiliated pages
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkedinCompaniesSlugAffiliatedGet200Response, Integer, Hash)>] LinkedinCompaniesSlugAffiliatedGet200Response data, response status code and response headers
    def linkedin_companies_slug_affiliated_get_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_companies_slug_affiliated_get ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling LinkedinApi.linkedin_companies_slug_affiliated_get"
      end
      if @api_client.config.client_side_validation && slug.to_s.length < 1
        fail ArgumentError, 'invalid value for "slug" when calling LinkedinApi.linkedin_companies_slug_affiliated_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/companies/{slug}/affiliated'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinCompaniesSlugAffiliatedGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_companies_slug_affiliated_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_companies_slug_affiliated_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a LinkedIn company profile by URL slug
    # @param slug [String] LinkedIn URL slug (universal_name), e.g. &#x60;microsoft&#x60;
    # @param [Hash] opts the optional parameters
    # @return [LinkedinCompaniesSlugGet200Response]
    def linkedin_companies_slug_get(slug, opts = {})
      data, _status_code, _headers = linkedin_companies_slug_get_with_http_info(slug, opts)
      data
    end

    # Get a LinkedIn company profile by URL slug
    # @param slug [String] LinkedIn URL slug (universal_name), e.g. &#x60;microsoft&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkedinCompaniesSlugGet200Response, Integer, Hash)>] LinkedinCompaniesSlugGet200Response data, response status code and response headers
    def linkedin_companies_slug_get_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_companies_slug_get ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling LinkedinApi.linkedin_companies_slug_get"
      end
      if @api_client.config.client_side_validation && slug.to_s.length < 1
        fail ArgumentError, 'invalid value for "slug" when calling LinkedinApi.linkedin_companies_slug_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/companies/{slug}'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinCompaniesSlugGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_companies_slug_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_companies_slug_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the number of active jobs at a LinkedIn company
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [LinkedinCompaniesSlugJobCountGet200Response]
    def linkedin_companies_slug_job_count_get(slug, opts = {})
      data, _status_code, _headers = linkedin_companies_slug_job_count_get_with_http_info(slug, opts)
      data
    end

    # Get the number of active jobs at a LinkedIn company
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkedinCompaniesSlugJobCountGet200Response, Integer, Hash)>] LinkedinCompaniesSlugJobCountGet200Response data, response status code and response headers
    def linkedin_companies_slug_job_count_get_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_companies_slug_job_count_get ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling LinkedinApi.linkedin_companies_slug_job_count_get"
      end
      if @api_client.config.client_side_validation && slug.to_s.length < 1
        fail ArgumentError, 'invalid value for "slug" when calling LinkedinApi.linkedin_companies_slug_job_count_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/companies/{slug}/job-count'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinCompaniesSlugJobCountGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_companies_slug_job_count_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_companies_slug_job_count_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List active job postings at a LinkedIn company
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [LinkedinCompaniesSlugJobsGet200Response]
    def linkedin_companies_slug_jobs_get(slug, opts = {})
      data, _status_code, _headers = linkedin_companies_slug_jobs_get_with_http_info(slug, opts)
      data
    end

    # List active job postings at a LinkedIn company
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(LinkedinCompaniesSlugJobsGet200Response, Integer, Hash)>] LinkedinCompaniesSlugJobsGet200Response data, response status code and response headers
    def linkedin_companies_slug_jobs_get_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_companies_slug_jobs_get ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling LinkedinApi.linkedin_companies_slug_jobs_get"
      end
      if @api_client.config.client_side_validation && slug.to_s.length < 1
        fail ArgumentError, 'invalid value for "slug" when calling LinkedinApi.linkedin_companies_slug_jobs_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/companies/{slug}/jobs'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinCompaniesSlugJobsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_companies_slug_jobs_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_companies_slug_jobs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a LinkedIn company's aggregated member insights
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [LinkedinCompaniesSlugMemberInsightsGet200Response]
    def linkedin_companies_slug_member_insights_get(slug, opts = {})
      data, _status_code, _headers = linkedin_companies_slug_member_insights_get_with_http_info(slug, opts)
      data
    end

    # Get a LinkedIn company&#39;s aggregated member insights
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkedinCompaniesSlugMemberInsightsGet200Response, Integer, Hash)>] LinkedinCompaniesSlugMemberInsightsGet200Response data, response status code and response headers
    def linkedin_companies_slug_member_insights_get_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_companies_slug_member_insights_get ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling LinkedinApi.linkedin_companies_slug_member_insights_get"
      end
      if @api_client.config.client_side_validation && slug.to_s.length < 1
        fail ArgumentError, 'invalid value for "slug" when calling LinkedinApi.linkedin_companies_slug_member_insights_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/companies/{slug}/member-insights'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinCompaniesSlugMemberInsightsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_companies_slug_member_insights_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_companies_slug_member_insights_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List employees of a LinkedIn company
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [LinkedinCompaniesSlugPeopleGet200Response]
    def linkedin_companies_slug_people_get(slug, opts = {})
      data, _status_code, _headers = linkedin_companies_slug_people_get_with_http_info(slug, opts)
      data
    end

    # List employees of a LinkedIn company
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(LinkedinCompaniesSlugPeopleGet200Response, Integer, Hash)>] LinkedinCompaniesSlugPeopleGet200Response data, response status code and response headers
    def linkedin_companies_slug_people_get_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_companies_slug_people_get ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling LinkedinApi.linkedin_companies_slug_people_get"
      end
      if @api_client.config.client_side_validation && slug.to_s.length < 1
        fail ArgumentError, 'invalid value for "slug" when calling LinkedinApi.linkedin_companies_slug_people_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/companies/{slug}/people'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinCompaniesSlugPeopleGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_companies_slug_people_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_companies_slug_people_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List posts published by a LinkedIn company page
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [LinkedinCompaniesSlugPostsGet200Response]
    def linkedin_companies_slug_posts_get(slug, opts = {})
      data, _status_code, _headers = linkedin_companies_slug_posts_get_with_http_info(slug, opts)
      data
    end

    # List posts published by a LinkedIn company page
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(LinkedinCompaniesSlugPostsGet200Response, Integer, Hash)>] LinkedinCompaniesSlugPostsGet200Response data, response status code and response headers
    def linkedin_companies_slug_posts_get_with_http_info(slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_companies_slug_posts_get ...'
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling LinkedinApi.linkedin_companies_slug_posts_get"
      end
      if @api_client.config.client_side_validation && slug.to_s.length < 1
        fail ArgumentError, 'invalid value for "slug" when calling LinkedinApi.linkedin_companies_slug_posts_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/companies/{slug}/posts'.sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinCompaniesSlugPostsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_companies_slug_posts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_companies_slug_posts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a LinkedIn group by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [LinkedinGroupsIdGet200Response]
    def linkedin_groups_id_get(id, opts = {})
      data, _status_code, _headers = linkedin_groups_id_get_with_http_info(id, opts)
      data
    end

    # Get a LinkedIn group by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkedinGroupsIdGet200Response, Integer, Hash)>] LinkedinGroupsIdGet200Response data, response status code and response headers
    def linkedin_groups_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_groups_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LinkedinApi.linkedin_groups_id_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling LinkedinApi.linkedin_groups_id_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/groups/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinGroupsIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_groups_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_groups_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List posts in a LinkedIn group
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [LinkedinCompaniesSlugPostsGet200Response]
    def linkedin_groups_id_posts_get(id, opts = {})
      data, _status_code, _headers = linkedin_groups_id_posts_get_with_http_info(id, opts)
      data
    end

    # List posts in a LinkedIn group
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(LinkedinCompaniesSlugPostsGet200Response, Integer, Hash)>] LinkedinCompaniesSlugPostsGet200Response data, response status code and response headers
    def linkedin_groups_id_posts_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_groups_id_posts_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LinkedinApi.linkedin_groups_id_posts_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling LinkedinApi.linkedin_groups_id_posts_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/groups/{id}/posts'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinCompaniesSlugPostsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_groups_id_posts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_groups_id_posts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a LinkedIn job posting by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include_skills 
    # @return [LinkedinJobsIdGet200Response]
    def linkedin_jobs_id_get(id, opts = {})
      data, _status_code, _headers = linkedin_jobs_id_get_with_http_info(id, opts)
      data
    end

    # Get a LinkedIn job posting by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include_skills 
    # @return [Array<(LinkedinJobsIdGet200Response, Integer, Hash)>] LinkedinJobsIdGet200Response data, response status code and response headers
    def linkedin_jobs_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_jobs_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LinkedinApi.linkedin_jobs_id_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling LinkedinApi.linkedin_jobs_id_get, the character length must be great than or equal to 1.'
      end

      allowable_values = ["true", "false"]
      if @api_client.config.client_side_validation && opts[:'include_skills'] && !allowable_values.include?(opts[:'include_skills'])
        fail ArgumentError, "invalid value for \"include_skills\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/linkedin/jobs/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_skills'] = opts[:'include_skills'] if !opts[:'include_skills'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinJobsIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_jobs_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_jobs_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List replies to a LinkedIn comment
    # `cursor` here is LinkedIn's `previous_replies_token`. On the first page, send no cursor — LinkedIn's source still expects the param, so the gateway passes `-` as the sentinel it documents.
    # @param id [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [LinkedinPostsIdCommentsCommentIdRepliesGet200Response]
    def linkedin_posts_id_comments_comment_id_replies_get(id, comment_id, opts = {})
      data, _status_code, _headers = linkedin_posts_id_comments_comment_id_replies_get_with_http_info(id, comment_id, opts)
      data
    end

    # List replies to a LinkedIn comment
    # &#x60;cursor&#x60; here is LinkedIn&#39;s &#x60;previous_replies_token&#x60;. On the first page, send no cursor — LinkedIn&#39;s source still expects the param, so the gateway passes &#x60;-&#x60; as the sentinel it documents.
    # @param id [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(LinkedinPostsIdCommentsCommentIdRepliesGet200Response, Integer, Hash)>] LinkedinPostsIdCommentsCommentIdRepliesGet200Response data, response status code and response headers
    def linkedin_posts_id_comments_comment_id_replies_get_with_http_info(id, comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_posts_id_comments_comment_id_replies_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LinkedinApi.linkedin_posts_id_comments_comment_id_replies_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling LinkedinApi.linkedin_posts_id_comments_comment_id_replies_get, the character length must be great than or equal to 1.'
      end

      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling LinkedinApi.linkedin_posts_id_comments_comment_id_replies_get"
      end
      if @api_client.config.client_side_validation && comment_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "comment_id" when calling LinkedinApi.linkedin_posts_id_comments_comment_id_replies_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/posts/{id}/comments/{comment_id}/replies'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'comment_id' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinPostsIdCommentsCommentIdRepliesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_posts_id_comments_comment_id_replies_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_posts_id_comments_comment_id_replies_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List top-level comments on a LinkedIn post
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [LinkedinPostsIdCommentsCommentIdRepliesGet200Response]
    def linkedin_posts_id_comments_get(id, opts = {})
      data, _status_code, _headers = linkedin_posts_id_comments_get_with_http_info(id, opts)
      data
    end

    # List top-level comments on a LinkedIn post
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(LinkedinPostsIdCommentsCommentIdRepliesGet200Response, Integer, Hash)>] LinkedinPostsIdCommentsCommentIdRepliesGet200Response data, response status code and response headers
    def linkedin_posts_id_comments_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_posts_id_comments_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LinkedinApi.linkedin_posts_id_comments_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling LinkedinApi.linkedin_posts_id_comments_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/posts/{id}/comments'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinPostsIdCommentsCommentIdRepliesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_posts_id_comments_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_posts_id_comments_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a LinkedIn post by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [LinkedinPostsIdGet200Response]
    def linkedin_posts_id_get(id, opts = {})
      data, _status_code, _headers = linkedin_posts_id_get_with_http_info(id, opts)
      data
    end

    # Get a LinkedIn post by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkedinPostsIdGet200Response, Integer, Hash)>] LinkedinPostsIdGet200Response data, response status code and response headers
    def linkedin_posts_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_posts_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LinkedinApi.linkedin_posts_id_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling LinkedinApi.linkedin_posts_id_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/posts/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinPostsIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_posts_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_posts_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List users who reacted to a LinkedIn post
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [String] :type Filter by reaction type. &#x60;all&#x60; returns every reaction (default). (default to 'all')
    # @return [LinkedinCompaniesSlugPeopleGet200Response]
    def linkedin_posts_id_reactions_get(id, opts = {})
      data, _status_code, _headers = linkedin_posts_id_reactions_get_with_http_info(id, opts)
      data
    end

    # List users who reacted to a LinkedIn post
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [String] :type Filter by reaction type. &#x60;all&#x60; returns every reaction (default). (default to 'all')
    # @return [Array<(LinkedinCompaniesSlugPeopleGet200Response, Integer, Hash)>] LinkedinCompaniesSlugPeopleGet200Response data, response status code and response headers
    def linkedin_posts_id_reactions_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_posts_id_reactions_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LinkedinApi.linkedin_posts_id_reactions_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling LinkedinApi.linkedin_posts_id_reactions_get, the character length must be great than or equal to 1.'
      end

      allowable_values = ["all", "like", "praise", "empathy", "interest", "appreciation", "entertainment"]
      if @api_client.config.client_side_validation && opts[:'type'] && !allowable_values.include?(opts[:'type'])
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/linkedin/posts/{id}/reactions'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinCompaniesSlugPeopleGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_posts_id_reactions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_posts_id_reactions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List reposts of a LinkedIn post
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [LinkedinCompaniesSlugPostsGet200Response]
    def linkedin_posts_id_reposts_get(id, opts = {})
      data, _status_code, _headers = linkedin_posts_id_reposts_get_with_http_info(id, opts)
      data
    end

    # List reposts of a LinkedIn post
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(LinkedinCompaniesSlugPostsGet200Response, Integer, Hash)>] LinkedinCompaniesSlugPostsGet200Response data, response status code and response headers
    def linkedin_posts_id_reposts_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_posts_id_reposts_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LinkedinApi.linkedin_posts_id_reposts_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling LinkedinApi.linkedin_posts_id_reposts_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/posts/{id}/reposts'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinCompaniesSlugPostsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_posts_id_reposts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_posts_id_reposts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search the LinkedIn Ad Library
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [String] :keyword 
    # @option opts [String] :advertiser_name 
    # @option opts [String] :country ISO-3166-1 alpha-2 code, e.g. &#x60;US&#x60;
    # @option opts [String] :date 
    # @return [LinkedinSearchAdsGet200Response]
    def linkedin_search_ads_get(opts = {})
      data, _status_code, _headers = linkedin_search_ads_get_with_http_info(opts)
      data
    end

    # Search the LinkedIn Ad Library
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [String] :keyword 
    # @option opts [String] :advertiser_name 
    # @option opts [String] :country ISO-3166-1 alpha-2 code, e.g. &#x60;US&#x60;
    # @option opts [String] :date 
    # @return [Array<(LinkedinSearchAdsGet200Response, Integer, Hash)>] LinkedinSearchAdsGet200Response data, response status code and response headers
    def linkedin_search_ads_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_search_ads_get ...'
      end
      # resource path
      local_var_path = '/linkedin/search/ads'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'advertiser_name'] = opts[:'advertiser_name'] if !opts[:'advertiser_name'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'date'] = opts[:'date'] if !opts[:'date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinSearchAdsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_search_ads_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_search_ads_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resolve a free-text industry name to LinkedIn industry IDs
    # @param keyword [String] 
    # @param [Hash] opts the optional parameters
    # @return [LinkedinSearchIndustriesGet200Response]
    def linkedin_search_industries_get(keyword, opts = {})
      data, _status_code, _headers = linkedin_search_industries_get_with_http_info(keyword, opts)
      data
    end

    # Resolve a free-text industry name to LinkedIn industry IDs
    # @param keyword [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkedinSearchIndustriesGet200Response, Integer, Hash)>] LinkedinSearchIndustriesGet200Response data, response status code and response headers
    def linkedin_search_industries_get_with_http_info(keyword, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_search_industries_get ...'
      end
      # verify the required parameter 'keyword' is set
      if @api_client.config.client_side_validation && keyword.nil?
        fail ArgumentError, "Missing the required parameter 'keyword' when calling LinkedinApi.linkedin_search_industries_get"
      end
      if @api_client.config.client_side_validation && keyword.to_s.length < 1
        fail ArgumentError, 'invalid value for "keyword" when calling LinkedinApi.linkedin_search_industries_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/search/industries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'keyword'] = keyword

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinSearchIndustriesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_search_industries_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_search_industries_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search LinkedIn jobs by keyword and filters
    # @param keyword [String] Free-text search query
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [String] :sort_by 
    # @option opts [String] :date_posted 
    # @option opts [String] :geocode 
    # @option opts [String] :company 
    # @option opts [String] :experience_level 
    # @option opts [String] :remote 
    # @option opts [String] :job_type 
    # @option opts [String] :easy_apply 
    # @option opts [String] :has_verifications 
    # @option opts [String] :under_10_applicants 
    # @option opts [String] :fair_chance_employer 
    # @return [LinkedinCompaniesSlugJobsGet200Response]
    def linkedin_search_jobs_get(keyword, opts = {})
      data, _status_code, _headers = linkedin_search_jobs_get_with_http_info(keyword, opts)
      data
    end

    # Search LinkedIn jobs by keyword and filters
    # @param keyword [String] Free-text search query
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [String] :sort_by 
    # @option opts [String] :date_posted 
    # @option opts [String] :geocode 
    # @option opts [String] :company 
    # @option opts [String] :experience_level 
    # @option opts [String] :remote 
    # @option opts [String] :job_type 
    # @option opts [String] :easy_apply 
    # @option opts [String] :has_verifications 
    # @option opts [String] :under_10_applicants 
    # @option opts [String] :fair_chance_employer 
    # @return [Array<(LinkedinCompaniesSlugJobsGet200Response, Integer, Hash)>] LinkedinCompaniesSlugJobsGet200Response data, response status code and response headers
    def linkedin_search_jobs_get_with_http_info(keyword, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_search_jobs_get ...'
      end
      # verify the required parameter 'keyword' is set
      if @api_client.config.client_side_validation && keyword.nil?
        fail ArgumentError, "Missing the required parameter 'keyword' when calling LinkedinApi.linkedin_search_jobs_get"
      end
      if @api_client.config.client_side_validation && keyword.to_s.length < 1
        fail ArgumentError, 'invalid value for "keyword" when calling LinkedinApi.linkedin_search_jobs_get, the character length must be great than or equal to 1.'
      end

      allowable_values = ["true", "false"]
      if @api_client.config.client_side_validation && opts[:'easy_apply'] && !allowable_values.include?(opts[:'easy_apply'])
        fail ArgumentError, "invalid value for \"easy_apply\", must be one of #{allowable_values}"
      end
      allowable_values = ["true", "false"]
      if @api_client.config.client_side_validation && opts[:'has_verifications'] && !allowable_values.include?(opts[:'has_verifications'])
        fail ArgumentError, "invalid value for \"has_verifications\", must be one of #{allowable_values}"
      end
      allowable_values = ["true", "false"]
      if @api_client.config.client_side_validation && opts[:'under_10_applicants'] && !allowable_values.include?(opts[:'under_10_applicants'])
        fail ArgumentError, "invalid value for \"under_10_applicants\", must be one of #{allowable_values}"
      end
      allowable_values = ["true", "false"]
      if @api_client.config.client_side_validation && opts[:'fair_chance_employer'] && !allowable_values.include?(opts[:'fair_chance_employer'])
        fail ArgumentError, "invalid value for \"fair_chance_employer\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/linkedin/search/jobs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'keyword'] = keyword
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'date_posted'] = opts[:'date_posted'] if !opts[:'date_posted'].nil?
      query_params[:'geocode'] = opts[:'geocode'] if !opts[:'geocode'].nil?
      query_params[:'company'] = opts[:'company'] if !opts[:'company'].nil?
      query_params[:'experience_level'] = opts[:'experience_level'] if !opts[:'experience_level'].nil?
      query_params[:'remote'] = opts[:'remote'] if !opts[:'remote'].nil?
      query_params[:'job_type'] = opts[:'job_type'] if !opts[:'job_type'].nil?
      query_params[:'easy_apply'] = opts[:'easy_apply'] if !opts[:'easy_apply'].nil?
      query_params[:'has_verifications'] = opts[:'has_verifications'] if !opts[:'has_verifications'].nil?
      query_params[:'under_10_applicants'] = opts[:'under_10_applicants'] if !opts[:'under_10_applicants'].nil?
      query_params[:'fair_chance_employer'] = opts[:'fair_chance_employer'] if !opts[:'fair_chance_employer'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinCompaniesSlugJobsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_search_jobs_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_search_jobs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resolve a free-text location into LinkedIn geocode tokens
    # @param keyword [String] 
    # @param [Hash] opts the optional parameters
    # @return [LinkedinSearchLocationsGet200Response]
    def linkedin_search_locations_get(keyword, opts = {})
      data, _status_code, _headers = linkedin_search_locations_get_with_http_info(keyword, opts)
      data
    end

    # Resolve a free-text location into LinkedIn geocode tokens
    # @param keyword [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkedinSearchLocationsGet200Response, Integer, Hash)>] LinkedinSearchLocationsGet200Response data, response status code and response headers
    def linkedin_search_locations_get_with_http_info(keyword, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_search_locations_get ...'
      end
      # verify the required parameter 'keyword' is set
      if @api_client.config.client_side_validation && keyword.nil?
        fail ArgumentError, "Missing the required parameter 'keyword' when calling LinkedinApi.linkedin_search_locations_get"
      end
      if @api_client.config.client_side_validation && keyword.to_s.length < 1
        fail ArgumentError, 'invalid value for "keyword" when calling LinkedinApi.linkedin_search_locations_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/search/locations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'keyword'] = keyword

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinSearchLocationsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_search_locations_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_search_locations_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search LinkedIn people by name, title, company, etc.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [String] :name 
    # @option opts [String] :first_name 
    # @option opts [String] :last_name 
    # @option opts [String] :title 
    # @option opts [String] :company 
    # @option opts [String] :school 
    # @option opts [String] :geocode_location 
    # @option opts [String] :current_company 
    # @option opts [String] :profile_language 
    # @option opts [String] :industry 
    # @option opts [String] :service_category 
    # @return [LinkedinCompaniesSlugPeopleGet200Response]
    def linkedin_search_people_get(opts = {})
      data, _status_code, _headers = linkedin_search_people_get_with_http_info(opts)
      data
    end

    # Search LinkedIn people by name, title, company, etc.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [String] :name 
    # @option opts [String] :first_name 
    # @option opts [String] :last_name 
    # @option opts [String] :title 
    # @option opts [String] :company 
    # @option opts [String] :school 
    # @option opts [String] :geocode_location 
    # @option opts [String] :current_company 
    # @option opts [String] :profile_language 
    # @option opts [String] :industry 
    # @option opts [String] :service_category 
    # @return [Array<(LinkedinCompaniesSlugPeopleGet200Response, Integer, Hash)>] LinkedinCompaniesSlugPeopleGet200Response data, response status code and response headers
    def linkedin_search_people_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_search_people_get ...'
      end
      # resource path
      local_var_path = '/linkedin/search/people'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'first_name'] = opts[:'first_name'] if !opts[:'first_name'].nil?
      query_params[:'last_name'] = opts[:'last_name'] if !opts[:'last_name'].nil?
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?
      query_params[:'company'] = opts[:'company'] if !opts[:'company'].nil?
      query_params[:'school'] = opts[:'school'] if !opts[:'school'].nil?
      query_params[:'geocode_location'] = opts[:'geocode_location'] if !opts[:'geocode_location'].nil?
      query_params[:'current_company'] = opts[:'current_company'] if !opts[:'current_company'].nil?
      query_params[:'profile_language'] = opts[:'profile_language'] if !opts[:'profile_language'].nil?
      query_params[:'industry'] = opts[:'industry'] if !opts[:'industry'].nil?
      query_params[:'service_category'] = opts[:'service_category'] if !opts[:'service_category'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinCompaniesSlugPeopleGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_search_people_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_search_people_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search LinkedIn posts by keyword
    # @param keyword [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [String] :date_posted 
    # @option opts [String] :sort_by 
    # @option opts [String] :from_member 
    # @option opts [String] :from_company 
    # @option opts [String] :content_type 
    # @return [LinkedinSearchPostsGet200Response]
    def linkedin_search_posts_get(keyword, opts = {})
      data, _status_code, _headers = linkedin_search_posts_get_with_http_info(keyword, opts)
      data
    end

    # Search LinkedIn posts by keyword
    # @param keyword [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [String] :date_posted 
    # @option opts [String] :sort_by 
    # @option opts [String] :from_member 
    # @option opts [String] :from_company 
    # @option opts [String] :content_type 
    # @return [Array<(LinkedinSearchPostsGet200Response, Integer, Hash)>] LinkedinSearchPostsGet200Response data, response status code and response headers
    def linkedin_search_posts_get_with_http_info(keyword, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_search_posts_get ...'
      end
      # verify the required parameter 'keyword' is set
      if @api_client.config.client_side_validation && keyword.nil?
        fail ArgumentError, "Missing the required parameter 'keyword' when calling LinkedinApi.linkedin_search_posts_get"
      end
      if @api_client.config.client_side_validation && keyword.to_s.length < 1
        fail ArgumentError, 'invalid value for "keyword" when calling LinkedinApi.linkedin_search_posts_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/search/posts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'keyword'] = keyword
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'date_posted'] = opts[:'date_posted'] if !opts[:'date_posted'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'from_member'] = opts[:'from_member'] if !opts[:'from_member'].nil?
      query_params[:'from_company'] = opts[:'from_company'] if !opts[:'from_company'].nil?
      query_params[:'content_type'] = opts[:'content_type'] if !opts[:'content_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinSearchPostsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_search_posts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_search_posts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search LinkedIn schools by keyword
    # @param keyword [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [LinkedinSearchSchoolsGet200Response]
    def linkedin_search_schools_get(keyword, opts = {})
      data, _status_code, _headers = linkedin_search_schools_get_with_http_info(keyword, opts)
      data
    end

    # Search LinkedIn schools by keyword
    # @param keyword [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(LinkedinSearchSchoolsGet200Response, Integer, Hash)>] LinkedinSearchSchoolsGet200Response data, response status code and response headers
    def linkedin_search_schools_get_with_http_info(keyword, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_search_schools_get ...'
      end
      # verify the required parameter 'keyword' is set
      if @api_client.config.client_side_validation && keyword.nil?
        fail ArgumentError, "Missing the required parameter 'keyword' when calling LinkedinApi.linkedin_search_schools_get"
      end
      if @api_client.config.client_side_validation && keyword.to_s.length < 1
        fail ArgumentError, 'invalid value for "keyword" when calling LinkedinApi.linkedin_search_schools_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/search/schools'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'keyword'] = keyword
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinSearchSchoolsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_search_schools_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_search_schools_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a LinkedIn profile's 'about' metadata
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [LinkedinUsersUsernameAboutGet200Response]
    def linkedin_users_username_about_get(username, opts = {})
      data, _status_code, _headers = linkedin_users_username_about_get_with_http_info(username, opts)
      data
    end

    # Get a LinkedIn profile&#39;s &#39;about&#39; metadata
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkedinUsersUsernameAboutGet200Response, Integer, Hash)>] LinkedinUsersUsernameAboutGet200Response data, response status code and response headers
    def linkedin_users_username_about_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_users_username_about_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling LinkedinApi.linkedin_users_username_about_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling LinkedinApi.linkedin_users_username_about_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/users/{username}/about'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinUsersUsernameAboutGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_users_username_about_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_users_username_about_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a LinkedIn user's certifications
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [LinkedinUsersUsernameCertificationsGet200Response]
    def linkedin_users_username_certifications_get(username, opts = {})
      data, _status_code, _headers = linkedin_users_username_certifications_get_with_http_info(username, opts)
      data
    end

    # List a LinkedIn user&#39;s certifications
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(LinkedinUsersUsernameCertificationsGet200Response, Integer, Hash)>] LinkedinUsersUsernameCertificationsGet200Response data, response status code and response headers
    def linkedin_users_username_certifications_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_users_username_certifications_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling LinkedinApi.linkedin_users_username_certifications_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling LinkedinApi.linkedin_users_username_certifications_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/users/{username}/certifications'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinUsersUsernameCertificationsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_users_username_certifications_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_users_username_certifications_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List comments authored by a LinkedIn user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [LinkedinUsersUsernameCommentsGet200Response]
    def linkedin_users_username_comments_get(username, opts = {})
      data, _status_code, _headers = linkedin_users_username_comments_get_with_http_info(username, opts)
      data
    end

    # List comments authored by a LinkedIn user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(LinkedinUsersUsernameCommentsGet200Response, Integer, Hash)>] LinkedinUsersUsernameCommentsGet200Response data, response status code and response headers
    def linkedin_users_username_comments_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_users_username_comments_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling LinkedinApi.linkedin_users_username_comments_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling LinkedinApi.linkedin_users_username_comments_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/users/{username}/comments'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinUsersUsernameCommentsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_users_username_comments_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_users_username_comments_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a LinkedIn user's public contact info
    # Returns the contact block (websites, phone numbers, twitter handles, address, wechat) the user has chosen to publish on LinkedIn.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [LinkedinUsersUsernameContactGet200Response]
    def linkedin_users_username_contact_get(username, opts = {})
      data, _status_code, _headers = linkedin_users_username_contact_get_with_http_info(username, opts)
      data
    end

    # Get a LinkedIn user&#39;s public contact info
    # Returns the contact block (websites, phone numbers, twitter handles, address, wechat) the user has chosen to publish on LinkedIn.
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkedinUsersUsernameContactGet200Response, Integer, Hash)>] LinkedinUsersUsernameContactGet200Response data, response status code and response headers
    def linkedin_users_username_contact_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_users_username_contact_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling LinkedinApi.linkedin_users_username_contact_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling LinkedinApi.linkedin_users_username_contact_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/users/{username}/contact'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinUsersUsernameContactGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_users_username_contact_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_users_username_contact_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a LinkedIn user's education
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [LinkedinUsersUsernameEducationsGet200Response]
    def linkedin_users_username_educations_get(username, opts = {})
      data, _status_code, _headers = linkedin_users_username_educations_get_with_http_info(username, opts)
      data
    end

    # List a LinkedIn user&#39;s education
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(LinkedinUsersUsernameEducationsGet200Response, Integer, Hash)>] LinkedinUsersUsernameEducationsGet200Response data, response status code and response headers
    def linkedin_users_username_educations_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_users_username_educations_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling LinkedinApi.linkedin_users_username_educations_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling LinkedinApi.linkedin_users_username_educations_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/users/{username}/educations'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinUsersUsernameEducationsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_users_username_educations_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_users_username_educations_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a LinkedIn user's work experience
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [LinkedinUsersUsernameExperienceGet200Response]
    def linkedin_users_username_experience_get(username, opts = {})
      data, _status_code, _headers = linkedin_users_username_experience_get_with_http_info(username, opts)
      data
    end

    # List a LinkedIn user&#39;s work experience
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(LinkedinUsersUsernameExperienceGet200Response, Integer, Hash)>] LinkedinUsersUsernameExperienceGet200Response data, response status code and response headers
    def linkedin_users_username_experience_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_users_username_experience_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling LinkedinApi.linkedin_users_username_experience_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling LinkedinApi.linkedin_users_username_experience_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/users/{username}/experience'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinUsersUsernameExperienceGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_users_username_experience_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_users_username_experience_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a LinkedIn user's follower & connection counts
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [LinkedinUsersUsernameFollowerCountGet200Response]
    def linkedin_users_username_follower_count_get(username, opts = {})
      data, _status_code, _headers = linkedin_users_username_follower_count_get_with_http_info(username, opts)
      data
    end

    # Get a LinkedIn user&#39;s follower &amp; connection counts
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkedinUsersUsernameFollowerCountGet200Response, Integer, Hash)>] LinkedinUsersUsernameFollowerCountGet200Response data, response status code and response headers
    def linkedin_users_username_follower_count_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_users_username_follower_count_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling LinkedinApi.linkedin_users_username_follower_count_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling LinkedinApi.linkedin_users_username_follower_count_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/users/{username}/follower-count'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinUsersUsernameFollowerCountGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_users_username_follower_count_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_users_username_follower_count_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a LinkedIn user profile by URL slug
    # Returns the canonical LinkedIn profile for the given URL slug (`public_identifier`). Returns 404 not_found if no such user exists.
    # @param username [String] LinkedIn URL slug, e.g. &#x60;williamhgates&#x60;
    # @param [Hash] opts the optional parameters
    # @return [LinkedinUsersUsernameGet200Response]
    def linkedin_users_username_get(username, opts = {})
      data, _status_code, _headers = linkedin_users_username_get_with_http_info(username, opts)
      data
    end

    # Get a LinkedIn user profile by URL slug
    # Returns the canonical LinkedIn profile for the given URL slug (&#x60;public_identifier&#x60;). Returns 404 not_found if no such user exists.
    # @param username [String] LinkedIn URL slug, e.g. &#x60;williamhgates&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(LinkedinUsersUsernameGet200Response, Integer, Hash)>] LinkedinUsersUsernameGet200Response data, response status code and response headers
    def linkedin_users_username_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedinApi.linkedin_users_username_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling LinkedinApi.linkedin_users_username_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling LinkedinApi.linkedin_users_username_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/linkedin/users/{username}'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LinkedinUsersUsernameGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedinApi.linkedin_users_username_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedinApi#linkedin_users_username_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a LinkedIn user's honors and awards
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [LinkedinUsersUsernameHonorsGet200Response]
    def linkedin_users_username_honors_get(username, opts = {})
      data, _status_code, _headers = linkedin_users_username_honors_get_with_http_info(username, opts)
      data
    end

    # List a LinkedIn user&#39;s honors and awards
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
[...]
