=begin
#UnifAPI

#Unified, AI-friendly API for public-data providers. Single source of truth for the UnifAPI gateway — consumed by docs (Fumadocs), the marketing site, and downstream SDK generators.

The version of the OpenAPI document: 0.0.1
Contact: support@unifapi.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Unifapi
  class RedditApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Browse Reddit's anonymous home feed
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [RedditFeedHomeGet200Response]
    def reddit_feed_home_get(opts = {})
      data, _status_code, _headers = reddit_feed_home_get_with_http_info(opts)
      data
    end

    # Browse Reddit&#39;s anonymous home feed
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(RedditFeedHomeGet200Response, Integer, Hash)>] RedditFeedHomeGet200Response data, response status code and response headers
    def reddit_feed_home_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_feed_home_get ...'
      end
      # resource path
      local_var_path = '/reddit/feed/home'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RedditFeedHomeGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_feed_home_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_feed_home_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Browse Reddit's news feed
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [RedditFeedHomeGet200Response]
    def reddit_feed_news_get(opts = {})
      data, _status_code, _headers = reddit_feed_news_get_with_http_info(opts)
      data
    end

    # Browse Reddit&#39;s news feed
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(RedditFeedHomeGet200Response, Integer, Hash)>] RedditFeedHomeGet200Response data, response status code and response headers
    def reddit_feed_news_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_feed_news_get ...'
      end
      # resource path
      local_var_path = '/reddit/feed/news'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RedditFeedHomeGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_feed_news_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_feed_news_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Browse Reddit's popular feed
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [RedditFeedHomeGet200Response]
    def reddit_feed_popular_get(opts = {})
      data, _status_code, _headers = reddit_feed_popular_get_with_http_info(opts)
      data
    end

    # Browse Reddit&#39;s popular feed
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(RedditFeedHomeGet200Response, Integer, Hash)>] RedditFeedHomeGet200Response data, response status code and response headers
    def reddit_feed_popular_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_feed_popular_get ...'
      end
      # resource path
      local_var_path = '/reddit/feed/popular'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RedditFeedHomeGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_feed_popular_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_feed_popular_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Reddit comments on a post
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [RedditPostsIdCommentsGet200Response]
    def reddit_posts_id_comments_get(id, opts = {})
      data, _status_code, _headers = reddit_posts_id_comments_get_with_http_info(id, opts)
      data
    end

    # List Reddit comments on a post
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(RedditPostsIdCommentsGet200Response, Integer, Hash)>] RedditPostsIdCommentsGet200Response data, response status code and response headers
    def reddit_posts_id_comments_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_posts_id_comments_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RedditApi.reddit_posts_id_comments_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling RedditApi.reddit_posts_id_comments_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/reddit/posts/{id}/comments'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RedditPostsIdCommentsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_posts_id_comments_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_posts_id_comments_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a Reddit post by id
    # @param id [String] Reddit post fullname, e.g. &#x60;t3_1thjm1o&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [RedditPostsIdGet200Response]
    def reddit_posts_id_get(id, opts = {})
      data, _status_code, _headers = reddit_posts_id_get_with_http_info(id, opts)
      data
    end

    # Get a Reddit post by id
    # @param id [String] Reddit post fullname, e.g. &#x60;t3_1thjm1o&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RedditPostsIdGet200Response, Integer, Hash)>] RedditPostsIdGet200Response data, response status code and response headers
    def reddit_posts_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_posts_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RedditApi.reddit_posts_id_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling RedditApi.reddit_posts_id_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/reddit/posts/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RedditPostsIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_posts_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_posts_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a Reddit subreddit by name
    # @param name [String] Subreddit slug without &#x60;r/&#x60;, e.g. &#x60;pics&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [RedditSubredditsNameGet200Response]
    def reddit_subreddits_name_get(name, opts = {})
      data, _status_code, _headers = reddit_subreddits_name_get_with_http_info(name, opts)
      data
    end

    # Get a Reddit subreddit by name
    # @param name [String] Subreddit slug without &#x60;r/&#x60;, e.g. &#x60;pics&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RedditSubredditsNameGet200Response, Integer, Hash)>] RedditSubredditsNameGet200Response data, response status code and response headers
    def reddit_subreddits_name_get_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_subreddits_name_get ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling RedditApi.reddit_subreddits_name_get"
      end
      if @api_client.config.client_side_validation && name.to_s.length < 1
        fail ArgumentError, 'invalid value for "name" when calling RedditApi.reddit_subreddits_name_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/reddit/subreddits/{name}'.sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RedditSubredditsNameGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_subreddits_name_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_subreddits_name_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Reddit's current trending search queries
    # @param [Hash] opts the optional parameters
    # @return [RedditTrendingSearchesGet200Response]
    def reddit_trending_searches_get(opts = {})
      data, _status_code, _headers = reddit_trending_searches_get_with_http_info(opts)
      data
    end

    # List Reddit&#39;s current trending search queries
    # @param [Hash] opts the optional parameters
    # @return [Array<(RedditTrendingSearchesGet200Response, Integer, Hash)>] RedditTrendingSearchesGet200Response data, response status code and response headers
    def reddit_trending_searches_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_trending_searches_get ...'
      end
      # resource path
      local_var_path = '/reddit/trending-searches'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RedditTrendingSearchesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_trending_searches_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_trending_searches_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Reddit comments authored by a user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [RedditPostsIdCommentsGet200Response]
    def reddit_users_username_comments_get(username, opts = {})
      data, _status_code, _headers = reddit_users_username_comments_get_with_http_info(username, opts)
      data
    end

    # List Reddit comments authored by a user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(RedditPostsIdCommentsGet200Response, Integer, Hash)>] RedditPostsIdCommentsGet200Response data, response status code and response headers
    def reddit_users_username_comments_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_users_username_comments_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling RedditApi.reddit_users_username_comments_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling RedditApi.reddit_users_username_comments_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/reddit/users/{username}/comments'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RedditPostsIdCommentsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_users_username_comments_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_users_username_comments_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a Reddit user profile by username
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [RedditUsersUsernameGet200Response]
    def reddit_users_username_get(username, opts = {})
      data, _status_code, _headers = reddit_users_username_get_with_http_info(username, opts)
      data
    end

    # Get a Reddit user profile by username
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RedditUsersUsernameGet200Response, Integer, Hash)>] RedditUsersUsernameGet200Response data, response status code and response headers
    def reddit_users_username_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_users_username_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling RedditApi.reddit_users_username_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling RedditApi.reddit_users_username_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/reddit/users/{username}'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RedditUsersUsernameGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_users_username_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_users_username_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Reddit posts authored by a user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [RedditFeedHomeGet200Response]
    def reddit_users_username_posts_get(username, opts = {})
      data, _status_code, _headers = reddit_users_username_posts_get_with_http_info(username, opts)
      data
    end

    # List Reddit posts authored by a user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(RedditFeedHomeGet200Response, Integer, Hash)>] RedditFeedHomeGet200Response data, response status code and response headers
    def reddit_users_username_posts_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditApi.reddit_users_username_posts_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling RedditApi.reddit_users_username_posts_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling RedditApi.reddit_users_username_posts_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/reddit/users/{username}/posts'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RedditFeedHomeGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RedditApi.reddit_users_username_posts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditApi#reddit_users_username_posts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
