=begin
#UnifAPI

#Unified, AI-friendly API for public-data providers. Single source of truth for the UnifAPI gateway — consumed by docs (Fumadocs), the marketing site, and downstream SDK generators.

The version of the OpenAPI document: 0.0.1
Contact: support@unifapi.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Unifapi
  class SeoApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get anchor texts used in backlinks to a target
    # Return the anchor texts used in backlinks pointing to a target, each with backlink, referring-domain, and spam-score counters, to analyze anchor-text distribution.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksAnchorsRequest] :seo_backlinks_anchors_request 
    # @return [SeoBacklinksAnchorsPost200Response]
    def seo_backlinks_anchors_post(opts = {})
      data, _status_code, _headers = seo_backlinks_anchors_post_with_http_info(opts)
      data
    end

    # Get anchor texts used in backlinks to a target
    # Return the anchor texts used in backlinks pointing to a target, each with backlink, referring-domain, and spam-score counters, to analyze anchor-text distribution.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksAnchorsRequest] :seo_backlinks_anchors_request 
    # @return [Array<(SeoBacklinksAnchorsPost200Response, Integer, Hash)>] SeoBacklinksAnchorsPost200Response data, response status code and response headers
    def seo_backlinks_anchors_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_anchors_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/anchors'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_anchors_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksAnchorsPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_anchors_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_anchors_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count backlinks for many targets
    # Return the total number of backlinks pointing to up to 1000 domains, subdomains, or pages at once, for bulk link-volume comparison.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksBulkBacklinksRequest] :seo_backlinks_bulk_backlinks_request 
    # @return [SeoBacklinksBulkBacklinksPost200Response]
    def seo_backlinks_bulk_backlinks_post(opts = {})
      data, _status_code, _headers = seo_backlinks_bulk_backlinks_post_with_http_info(opts)
      data
    end

    # Count backlinks for many targets
    # Return the total number of backlinks pointing to up to 1000 domains, subdomains, or pages at once, for bulk link-volume comparison.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksBulkBacklinksRequest] :seo_backlinks_bulk_backlinks_request 
    # @return [Array<(SeoBacklinksBulkBacklinksPost200Response, Integer, Hash)>] SeoBacklinksBulkBacklinksPost200Response data, response status code and response headers
    def seo_backlinks_bulk_backlinks_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_bulk_backlinks_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/bulk-backlinks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_bulk_backlinks_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksBulkBacklinksPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_bulk_backlinks_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_bulk_backlinks_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count new and lost backlinks for many targets
    # Return the number of new and lost backlinks for up to 1000 domains, subdomains, or pages since a given date, for bulk link-velocity tracking.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksBulkNewLostBacklinksRequest] :seo_backlinks_bulk_new_lost_backlinks_request 
    # @return [SeoBacklinksBulkNewLostBacklinksPost200Response]
    def seo_backlinks_bulk_new_lost_backlinks_post(opts = {})
      data, _status_code, _headers = seo_backlinks_bulk_new_lost_backlinks_post_with_http_info(opts)
      data
    end

    # Count new and lost backlinks for many targets
    # Return the number of new and lost backlinks for up to 1000 domains, subdomains, or pages since a given date, for bulk link-velocity tracking.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksBulkNewLostBacklinksRequest] :seo_backlinks_bulk_new_lost_backlinks_request 
    # @return [Array<(SeoBacklinksBulkNewLostBacklinksPost200Response, Integer, Hash)>] SeoBacklinksBulkNewLostBacklinksPost200Response data, response status code and response headers
    def seo_backlinks_bulk_new_lost_backlinks_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_bulk_new_lost_backlinks_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/bulk-new-lost-backlinks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_bulk_new_lost_backlinks_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksBulkNewLostBacklinksPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_bulk_new_lost_backlinks_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_bulk_new_lost_backlinks_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count new and lost referring domains for many targets
    # Return the number of new and lost referring domains for up to 1000 domains, subdomains, or pages since a given date, for bulk referring-domain velocity tracking.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksBulkNewLostReferringDomainsRequest] :seo_backlinks_bulk_new_lost_referring_domains_request 
    # @return [SeoBacklinksBulkNewLostReferringDomainsPost200Response]
    def seo_backlinks_bulk_new_lost_referring_domains_post(opts = {})
      data, _status_code, _headers = seo_backlinks_bulk_new_lost_referring_domains_post_with_http_info(opts)
      data
    end

    # Count new and lost referring domains for many targets
    # Return the number of new and lost referring domains for up to 1000 domains, subdomains, or pages since a given date, for bulk referring-domain velocity tracking.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksBulkNewLostReferringDomainsRequest] :seo_backlinks_bulk_new_lost_referring_domains_request 
    # @return [Array<(SeoBacklinksBulkNewLostReferringDomainsPost200Response, Integer, Hash)>] SeoBacklinksBulkNewLostReferringDomainsPost200Response data, response status code and response headers
    def seo_backlinks_bulk_new_lost_referring_domains_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_bulk_new_lost_referring_domains_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/bulk-new-lost-referring-domains'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_bulk_new_lost_referring_domains_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksBulkNewLostReferringDomainsPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_bulk_new_lost_referring_domains_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_bulk_new_lost_referring_domains_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Summarize backlinks for many pages at once
    # Return backlink summaries for up to 1000 pages, domains, or subdomains at once, each with backlink, referring-domain, and spam-score counters, for bulk link-profile comparison.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksBulkPagesSummaryRequest] :seo_backlinks_bulk_pages_summary_request 
    # @return [SeoBacklinksBulkPagesSummaryPost200Response]
    def seo_backlinks_bulk_pages_summary_post(opts = {})
      data, _status_code, _headers = seo_backlinks_bulk_pages_summary_post_with_http_info(opts)
      data
    end

    # Summarize backlinks for many pages at once
    # Return backlink summaries for up to 1000 pages, domains, or subdomains at once, each with backlink, referring-domain, and spam-score counters, for bulk link-profile comparison.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksBulkPagesSummaryRequest] :seo_backlinks_bulk_pages_summary_request 
    # @return [Array<(SeoBacklinksBulkPagesSummaryPost200Response, Integer, Hash)>] SeoBacklinksBulkPagesSummaryPost200Response data, response status code and response headers
    def seo_backlinks_bulk_pages_summary_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_bulk_pages_summary_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/bulk-pages-summary'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_bulk_pages_summary_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksBulkPagesSummaryPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_bulk_pages_summary_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_bulk_pages_summary_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get backlink ranks for many targets
    # Return the backlink rank score (0-1000, similar to PageRank) for up to 1000 domains, subdomains, or pages at once, for quick bulk authority comparison.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksBulkRanksRequest] :seo_backlinks_bulk_ranks_request 
    # @return [SeoBacklinksBulkRanksPost200Response]
    def seo_backlinks_bulk_ranks_post(opts = {})
      data, _status_code, _headers = seo_backlinks_bulk_ranks_post_with_http_info(opts)
      data
    end

    # Get backlink ranks for many targets
    # Return the backlink rank score (0-1000, similar to PageRank) for up to 1000 domains, subdomains, or pages at once, for quick bulk authority comparison.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksBulkRanksRequest] :seo_backlinks_bulk_ranks_request 
    # @return [Array<(SeoBacklinksBulkRanksPost200Response, Integer, Hash)>] SeoBacklinksBulkRanksPost200Response data, response status code and response headers
    def seo_backlinks_bulk_ranks_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_bulk_ranks_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/bulk-ranks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_bulk_ranks_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksBulkRanksPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_bulk_ranks_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_bulk_ranks_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count referring domains for many targets
    # Return the number of referring domains pointing to up to 1000 domains, subdomains, or pages at once, for bulk referring-domain comparison.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksBulkReferringDomainsRequest] :seo_backlinks_bulk_referring_domains_request 
    # @return [SeoBacklinksBulkReferringDomainsPost200Response]
    def seo_backlinks_bulk_referring_domains_post(opts = {})
      data, _status_code, _headers = seo_backlinks_bulk_referring_domains_post_with_http_info(opts)
      data
    end

    # Count referring domains for many targets
    # Return the number of referring domains pointing to up to 1000 domains, subdomains, or pages at once, for bulk referring-domain comparison.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksBulkReferringDomainsRequest] :seo_backlinks_bulk_referring_domains_request 
    # @return [Array<(SeoBacklinksBulkReferringDomainsPost200Response, Integer, Hash)>] SeoBacklinksBulkReferringDomainsPost200Response data, response status code and response headers
    def seo_backlinks_bulk_referring_domains_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_bulk_referring_domains_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/bulk-referring-domains'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_bulk_referring_domains_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksBulkReferringDomainsPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_bulk_referring_domains_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_bulk_referring_domains_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get spam scores for many targets
    # Return the DataForSEO spam score (0-100) for up to 1000 domains, subdomains, or pages at once, to flag risky backlink targets in bulk.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksBulkSpamScoreRequest] :seo_backlinks_bulk_spam_score_request 
    # @return [SeoBacklinksBulkSpamScorePost200Response]
    def seo_backlinks_bulk_spam_score_post(opts = {})
      data, _status_code, _headers = seo_backlinks_bulk_spam_score_post_with_http_info(opts)
      data
    end

    # Get spam scores for many targets
    # Return the DataForSEO spam score (0-100) for up to 1000 domains, subdomains, or pages at once, to flag risky backlink targets in bulk.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksBulkSpamScoreRequest] :seo_backlinks_bulk_spam_score_request 
    # @return [Array<(SeoBacklinksBulkSpamScorePost200Response, Integer, Hash)>] SeoBacklinksBulkSpamScorePost200Response data, response status code and response headers
    def seo_backlinks_bulk_spam_score_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_bulk_spam_score_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/bulk-spam-score'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_bulk_spam_score_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksBulkSpamScorePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_bulk_spam_score_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_bulk_spam_score_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find competitors by shared referring domains
    # Return the domains that share referring domains with a target, ranked by the number of shared referring domains, to discover competitors in the same backlink neighborhood.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksCompetitorsRequest] :seo_backlinks_competitors_request 
    # @return [SeoBacklinksCompetitorsPost200Response]
    def seo_backlinks_competitors_post(opts = {})
      data, _status_code, _headers = seo_backlinks_competitors_post_with_http_info(opts)
      data
    end

    # Find competitors by shared referring domains
    # Return the domains that share referring domains with a target, ranked by the number of shared referring domains, to discover competitors in the same backlink neighborhood.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksCompetitorsRequest] :seo_backlinks_competitors_request 
    # @return [Array<(SeoBacklinksCompetitorsPost200Response, Integer, Hash)>] SeoBacklinksCompetitorsPost200Response data, response status code and response headers
    def seo_backlinks_competitors_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_competitors_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/competitors'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_competitors_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksCompetitorsPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_competitors_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_competitors_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find domains linking to multiple targets
    # Return the domains that link to a set of targets, with per-target backlink metrics. Useful for a link-gap analysis: domains linking to competitors but not to your site.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksDomainIntersectionRequest] :seo_backlinks_domain_intersection_request 
    # @return [SeoBacklinksDomainIntersectionPost200Response]
    def seo_backlinks_domain_intersection_post(opts = {})
      data, _status_code, _headers = seo_backlinks_domain_intersection_post_with_http_info(opts)
      data
    end

    # Find domains linking to multiple targets
    # Return the domains that link to a set of targets, with per-target backlink metrics. Useful for a link-gap analysis: domains linking to competitors but not to your site.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksDomainIntersectionRequest] :seo_backlinks_domain_intersection_request 
    # @return [Array<(SeoBacklinksDomainIntersectionPost200Response, Integer, Hash)>] SeoBacklinksDomainIntersectionPost200Response data, response status code and response headers
    def seo_backlinks_domain_intersection_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_domain_intersection_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/domain-intersection'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_domain_intersection_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksDomainIntersectionPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_domain_intersection_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_domain_intersection_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List target pages ranked by backlinks
    # Return the pages of a target domain or subdomain that receive backlinks, each with crawl data and backlink counters, to find the most-linked pages of a site.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksDomainPagesRequest] :seo_backlinks_domain_pages_request 
    # @return [SeoBacklinksDomainPagesPost200Response]
    def seo_backlinks_domain_pages_post(opts = {})
      data, _status_code, _headers = seo_backlinks_domain_pages_post_with_http_info(opts)
      data
    end

    # List target pages ranked by backlinks
    # Return the pages of a target domain or subdomain that receive backlinks, each with crawl data and backlink counters, to find the most-linked pages of a site.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksDomainPagesRequest] :seo_backlinks_domain_pages_request 
    # @return [Array<(SeoBacklinksDomainPagesPost200Response, Integer, Hash)>] SeoBacklinksDomainPagesPost200Response data, response status code and response headers
    def seo_backlinks_domain_pages_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_domain_pages_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/domain-pages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_domain_pages_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksDomainPagesPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_domain_pages_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_domain_pages_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Summarize backlinks for each page of a target
    # Return per-page backlink summaries for a target domain or subdomain, each page with backlink, referring-domain, and spam-score counters, to find the most-linked pages.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksDomainPagesSummaryRequest] :seo_backlinks_domain_pages_summary_request 
    # @return [SeoBacklinksDomainPagesSummaryPost200Response]
    def seo_backlinks_domain_pages_summary_post(opts = {})
      data, _status_code, _headers = seo_backlinks_domain_pages_summary_post_with_http_info(opts)
      data
    end

    # Summarize backlinks for each page of a target
    # Return per-page backlink summaries for a target domain or subdomain, each page with backlink, referring-domain, and spam-score counters, to find the most-linked pages.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksDomainPagesSummaryRequest] :seo_backlinks_domain_pages_summary_request 
    # @return [Array<(SeoBacklinksDomainPagesSummaryPost200Response, Integer, Hash)>] SeoBacklinksDomainPagesSummaryPost200Response data, response status code and response headers
    def seo_backlinks_domain_pages_summary_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_domain_pages_summary_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/domain-pages-summary'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_domain_pages_summary_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksDomainPagesSummaryPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_domain_pages_summary_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_domain_pages_summary_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get historical backlink metrics for a target
    # Return a monthly time series of a target's backlink profile since 2019 — backlinks, referring domains, new/lost counts, and rank — for link-growth trend analysis.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksHistoryRequest] :seo_backlinks_history_request 
    # @return [SeoBacklinksHistoryPost200Response]
    def seo_backlinks_history_post(opts = {})
      data, _status_code, _headers = seo_backlinks_history_post_with_http_info(opts)
      data
    end

    # Get historical backlink metrics for a target
    # Return a monthly time series of a target&#39;s backlink profile since 2019 — backlinks, referring domains, new/lost counts, and rank — for link-growth trend analysis.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksHistoryRequest] :seo_backlinks_history_request 
    # @return [Array<(SeoBacklinksHistoryPost200Response, Integer, Hash)>] SeoBacklinksHistoryPost200Response data, response status code and response headers
    def seo_backlinks_history_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_history_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/history'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_history_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksHistoryPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_history_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_history_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List individual backlinks pointing to a target
    # Return the individual backlinks pointing to a target domain, subdomain, or page, each with the referring URL, anchor, dofollow flag, rank, and spam score, for detailed link auditing.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksListRequest] :seo_backlinks_list_request 
    # @return [SeoBacklinksListPost200Response]
    def seo_backlinks_list_post(opts = {})
      data, _status_code, _headers = seo_backlinks_list_post_with_http_info(opts)
      data
    end

    # List individual backlinks pointing to a target
    # Return the individual backlinks pointing to a target domain, subdomain, or page, each with the referring URL, anchor, dofollow flag, rank, and spam score, for detailed link auditing.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksListRequest] :seo_backlinks_list_request 
    # @return [Array<(SeoBacklinksListPost200Response, Integer, Hash)>] SeoBacklinksListPost200Response data, response status code and response headers
    def seo_backlinks_list_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_list_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_list_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksListPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find pages linking to multiple targets
    # Return the referring pages that link to a set of targets, with the backlinks to each target. Useful for finding pages that link to your competitors but not to your site.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksPageIntersectionRequest] :seo_backlinks_page_intersection_request 
    # @return [SeoBacklinksPageIntersectionPost200Response]
    def seo_backlinks_page_intersection_post(opts = {})
      data, _status_code, _headers = seo_backlinks_page_intersection_post_with_http_info(opts)
      data
    end

    # Find pages linking to multiple targets
    # Return the referring pages that link to a set of targets, with the backlinks to each target. Useful for finding pages that link to your competitors but not to your site.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksPageIntersectionRequest] :seo_backlinks_page_intersection_request 
    # @return [Array<(SeoBacklinksPageIntersectionPost200Response, Integer, Hash)>] SeoBacklinksPageIntersectionPost200Response data, response status code and response headers
    def seo_backlinks_page_intersection_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_page_intersection_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/page-intersection'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_page_intersection_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksPageIntersectionPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_page_intersection_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_page_intersection_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List referring domains pointing to a target
    # Return the domains that link to a target domain, subdomain, or page, each with backlink, referring-domain, and spam-score counters for referring-domain analysis.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoReferringDomainsRequest] :seo_referring_domains_request 
    # @return [SeoBacklinksReferringDomainsPost200Response]
    def seo_backlinks_referring_domains_post(opts = {})
      data, _status_code, _headers = seo_backlinks_referring_domains_post_with_http_info(opts)
      data
    end

    # List referring domains pointing to a target
    # Return the domains that link to a target domain, subdomain, or page, each with backlink, referring-domain, and spam-score counters for referring-domain analysis.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoReferringDomainsRequest] :seo_referring_domains_request 
    # @return [Array<(SeoBacklinksReferringDomainsPost200Response, Integer, Hash)>] SeoBacklinksReferringDomainsPost200Response data, response status code and response headers
    def seo_backlinks_referring_domains_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_referring_domains_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/referring-domains'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_referring_domains_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksReferringDomainsPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_referring_domains_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_referring_domains_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List referring IP networks pointing to a target
    # Return the IP addresses or subnets that host pages linking to a target, each with backlink and referring-domain counters, to assess referring-network diversity.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksReferringNetworksRequest] :seo_backlinks_referring_networks_request 
    # @return [SeoBacklinksReferringNetworksPost200Response]
    def seo_backlinks_referring_networks_post(opts = {})
      data, _status_code, _headers = seo_backlinks_referring_networks_post_with_http_info(opts)
      data
    end

    # List referring IP networks pointing to a target
    # Return the IP addresses or subnets that host pages linking to a target, each with backlink and referring-domain counters, to assess referring-network diversity.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksReferringNetworksRequest] :seo_backlinks_referring_networks_request 
    # @return [Array<(SeoBacklinksReferringNetworksPost200Response, Integer, Hash)>] SeoBacklinksReferringNetworksPost200Response data, response status code and response headers
    def seo_backlinks_referring_networks_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_referring_networks_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/referring-networks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_referring_networks_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksReferringNetworksPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_referring_networks_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_referring_networks_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the backlink profile summary for a target
    # Return an overview of a target's backlink profile: total backlinks, referring domains/pages/IPs, rank, spam score, and broken-link counters, for a quick link-profile health check.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksSummaryRequest] :seo_backlinks_summary_request 
    # @return [SeoBacklinksSummaryPost200Response]
    def seo_backlinks_summary_post(opts = {})
      data, _status_code, _headers = seo_backlinks_summary_post_with_http_info(opts)
      data
    end

    # Get the backlink profile summary for a target
    # Return an overview of a target&#39;s backlink profile: total backlinks, referring domains/pages/IPs, rank, spam score, and broken-link counters, for a quick link-profile health check.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksSummaryRequest] :seo_backlinks_summary_request 
    # @return [Array<(SeoBacklinksSummaryPost200Response, Integer, Hash)>] SeoBacklinksSummaryPost200Response data, response status code and response headers
    def seo_backlinks_summary_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_summary_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/summary'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_summary_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksSummaryPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_summary_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_summary_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get new and lost backlinks over time
    # Return a time series of new and lost backlinks and referring domains for a target, grouped by day, week, month, or year, for link-velocity analysis.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksTimeseriesNewLostRequest] :seo_backlinks_timeseries_new_lost_request 
    # @return [SeoBacklinksTimeseriesNewLostPost200Response]
    def seo_backlinks_timeseries_new_lost_post(opts = {})
      data, _status_code, _headers = seo_backlinks_timeseries_new_lost_post_with_http_info(opts)
      data
    end

    # Get new and lost backlinks over time
    # Return a time series of new and lost backlinks and referring domains for a target, grouped by day, week, month, or year, for link-velocity analysis.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksTimeseriesNewLostRequest] :seo_backlinks_timeseries_new_lost_request 
    # @return [Array<(SeoBacklinksTimeseriesNewLostPost200Response, Integer, Hash)>] SeoBacklinksTimeseriesNewLostPost200Response data, response status code and response headers
    def seo_backlinks_timeseries_new_lost_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_timeseries_new_lost_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/timeseries-new-lost'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_timeseries_new_lost_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksTimeseriesNewLostPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_timeseries_new_lost_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_timeseries_new_lost_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get backlink metrics over time
    # Return a time series of a target's backlink metrics grouped by day, week, month, or year between two dates, for tracking backlink and referring-domain trends.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksTimeseriesRequest] :seo_backlinks_timeseries_request 
    # @return [SeoBacklinksTimeseriesPost200Response]
    def seo_backlinks_timeseries_post(opts = {})
      data, _status_code, _headers = seo_backlinks_timeseries_post_with_http_info(opts)
      data
    end

    # Get backlink metrics over time
    # Return a time series of a target&#39;s backlink metrics grouped by day, week, month, or year between two dates, for tracking backlink and referring-domain trends.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBacklinksTimeseriesRequest] :seo_backlinks_timeseries_request 
    # @return [Array<(SeoBacklinksTimeseriesPost200Response, Integer, Hash)>] SeoBacklinksTimeseriesPost200Response data, response status code and response headers
    def seo_backlinks_timeseries_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_backlinks_timeseries_post ...'
      end
      # resource path
      local_var_path = '/seo/backlinks/timeseries'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_backlinks_timeseries_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoBacklinksTimeseriesPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_backlinks_timeseries_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_backlinks_timeseries_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Estimate organic traffic for domains
    # Return the estimated monthly organic and paid search traffic for a list of domains, for quick competitor sizing and prospecting across many domains at once.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBulkTrafficRequest] :seo_bulk_traffic_request 
    # @return [SeoCompetitorsBulkTrafficPost200Response]
    def seo_competitors_bulk_traffic_post(opts = {})
      data, _status_code, _headers = seo_competitors_bulk_traffic_post_with_http_info(opts)
      data
    end

    # Estimate organic traffic for domains
    # Return the estimated monthly organic and paid search traffic for a list of domains, for quick competitor sizing and prospecting across many domains at once.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoBulkTrafficRequest] :seo_bulk_traffic_request 
    # @return [Array<(SeoCompetitorsBulkTrafficPost200Response, Integer, Hash)>] SeoCompetitorsBulkTrafficPost200Response data, response status code and response headers
    def seo_competitors_bulk_traffic_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_competitors_bulk_traffic_post ...'
      end
      # resource path
      local_var_path = '/seo/competitors/bulk-traffic'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_bulk_traffic_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoCompetitorsBulkTrafficPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_competitors_bulk_traffic_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_competitors_bulk_traffic_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find keywords two domains both rank for
    # Return the keywords for which two domains both rank, with each domain's position and URL, to find shared keywords or keyword gaps between competitors.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoDomainIntersectionRequest] :seo_domain_intersection_request 
    # @return [SeoCompetitorsDomainIntersectionPost200Response]
    def seo_competitors_domain_intersection_post(opts = {})
      data, _status_code, _headers = seo_competitors_domain_intersection_post_with_http_info(opts)
      data
    end

    # Find keywords two domains both rank for
    # Return the keywords for which two domains both rank, with each domain&#39;s position and URL, to find shared keywords or keyword gaps between competitors.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoDomainIntersectionRequest] :seo_domain_intersection_request 
    # @return [Array<(SeoCompetitorsDomainIntersectionPost200Response, Integer, Hash)>] SeoCompetitorsDomainIntersectionPost200Response data, response status code and response headers
    def seo_competitors_domain_intersection_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_competitors_domain_intersection_post ...'
      end
      # resource path
      local_var_path = '/seo/competitors/domain-intersection'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_domain_intersection_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoCompetitorsDomainIntersectionPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_competitors_domain_intersection_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_competitors_domain_intersection_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find a domain's organic competitors
    # Return the domains that compete with a target domain in organic search, with shared-keyword counts and ranking/traffic metrics, for competitive landscape analysis.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoCompetitorsDomainRequest] :seo_competitors_domain_request 
    # @return [SeoCompetitorsDomainPost200Response]
    def seo_competitors_domain_post(opts = {})
      data, _status_code, _headers = seo_competitors_domain_post_with_http_info(opts)
      data
    end

    # Find a domain&#39;s organic competitors
    # Return the domains that compete with a target domain in organic search, with shared-keyword counts and ranking/traffic metrics, for competitive landscape analysis.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoCompetitorsDomainRequest] :seo_competitors_domain_request 
    # @return [Array<(SeoCompetitorsDomainPost200Response, Integer, Hash)>] SeoCompetitorsDomainPost200Response data, response status code and response headers
    def seo_competitors_domain_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_competitors_domain_post ...'
      end
      # resource path
      local_var_path = '/seo/competitors/domain'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_competitors_domain_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoCompetitorsDomainPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_competitors_domain_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_competitors_domain_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a domain's ranking and traffic overview
    # Return the organic and paid ranking distribution and estimated traffic for a target domain, summarizing how many keywords it ranks for in each position bucket.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoDomainRankOverviewRequest] :seo_domain_rank_overview_request 
    # @return [SeoCompetitorsDomainRankOverviewPost200Response]
    def seo_competitors_domain_rank_overview_post(opts = {})
      data, _status_code, _headers = seo_competitors_domain_rank_overview_post_with_http_info(opts)
      data
    end

    # Get a domain&#39;s ranking and traffic overview
    # Return the organic and paid ranking distribution and estimated traffic for a target domain, summarizing how many keywords it ranks for in each position bucket.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoDomainRankOverviewRequest] :seo_domain_rank_overview_request 
    # @return [Array<(SeoCompetitorsDomainRankOverviewPost200Response, Integer, Hash)>] SeoCompetitorsDomainRankOverviewPost200Response data, response status code and response headers
    def seo_competitors_domain_rank_overview_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_competitors_domain_rank_overview_post ...'
      end
      # resource path
      local_var_path = '/seo/competitors/domain-rank-overview'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_domain_rank_overview_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoCompetitorsDomainRankOverviewPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_competitors_domain_rank_overview_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_competitors_domain_rank_overview_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Estimate historical traffic for domains
    # Return a monthly estimated organic and paid traffic time series for a list of domains since 2019, for comparing competitor growth trajectories over time.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoHistoricalBulkTrafficRequest] :seo_historical_bulk_traffic_request 
    # @return [SeoCompetitorsHistoricalBulkTrafficPost200Response]
    def seo_competitors_historical_bulk_traffic_post(opts = {})
      data, _status_code, _headers = seo_competitors_historical_bulk_traffic_post_with_http_info(opts)
      data
    end

    # Estimate historical traffic for domains
    # Return a monthly estimated organic and paid traffic time series for a list of domains since 2019, for comparing competitor growth trajectories over time.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoHistoricalBulkTrafficRequest] :seo_historical_bulk_traffic_request 
    # @return [Array<(SeoCompetitorsHistoricalBulkTrafficPost200Response, Integer, Hash)>] SeoCompetitorsHistoricalBulkTrafficPost200Response data, response status code and response headers
    def seo_competitors_historical_bulk_traffic_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_competitors_historical_bulk_traffic_post ...'
      end
      # resource path
      local_var_path = '/seo/competitors/historical-bulk-traffic'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_historical_bulk_traffic_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoCompetitorsHistoricalBulkTrafficPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_competitors_historical_bulk_traffic_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_competitors_historical_bulk_traffic_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a domain's historical ranking overview
    # Return a monthly time series of a domain's organic and paid ranking distribution and estimated traffic since 2019, for trend and seasonality analysis.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoHistoricalRankOverviewRequest] :seo_historical_rank_overview_request 
    # @return [SeoCompetitorsHistoricalRankOverviewPost200Response]
    def seo_competitors_historical_rank_overview_post(opts = {})
      data, _status_code, _headers = seo_competitors_historical_rank_overview_post_with_http_info(opts)
      data
    end

    # Get a domain&#39;s historical ranking overview
    # Return a monthly time series of a domain&#39;s organic and paid ranking distribution and estimated traffic since 2019, for trend and seasonality analysis.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoHistoricalRankOverviewRequest] :seo_historical_rank_overview_request 
    # @return [Array<(SeoCompetitorsHistoricalRankOverviewPost200Response, Integer, Hash)>] SeoCompetitorsHistoricalRankOverviewPost200Response data, response status code and response headers
    def seo_competitors_historical_rank_overview_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_competitors_historical_rank_overview_post ...'
      end
      # resource path
      local_var_path = '/seo/competitors/historical-rank-overview'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_historical_rank_overview_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoCompetitorsHistoricalRankOverviewPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_competitors_historical_rank_overview_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_competitors_historical_rank_overview_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get historical SERP snapshots for a keyword
    # Return historical snapshots of the SERP composition for a keyword since 2019, summarizing how many results and which SERP feature types appeared over time.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoHistoricalSerpsRequest] :seo_historical_serps_request 
    # @return [SeoCompetitorsHistoricalSerpsPost200Response]
    def seo_competitors_historical_serps_post(opts = {})
      data, _status_code, _headers = seo_competitors_historical_serps_post_with_http_info(opts)
      data
    end

    # Get historical SERP snapshots for a keyword
    # Return historical snapshots of the SERP composition for a keyword since 2019, summarizing how many results and which SERP feature types appeared over time.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoHistoricalSerpsRequest] :seo_historical_serps_request 
    # @return [Array<(SeoCompetitorsHistoricalSerpsPost200Response, Integer, Hash)>] SeoCompetitorsHistoricalSerpsPost200Response data, response status code and response headers
    def seo_competitors_historical_serps_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_competitors_historical_serps_post ...'
      end
      # resource path
      local_var_path = '/seo/competitors/historical-serps'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_historical_serps_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoCompetitorsHistoricalSerpsPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_competitors_historical_serps_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_competitors_historical_serps_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find keywords specific pages rank for
    # Return the keywords that a set of specific page URLs rank for, with each page's position, to analyze keyword overlap across competing pages or your own content.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoPageIntersectionRequest] :seo_page_intersection_request 
    # @return [SeoCompetitorsPageIntersectionPost200Response]
    def seo_competitors_page_intersection_post(opts = {})
      data, _status_code, _headers = seo_competitors_page_intersection_post_with_http_info(opts)
      data
    end

    # Find keywords specific pages rank for
    # Return the keywords that a set of specific page URLs rank for, with each page&#39;s position, to analyze keyword overlap across competing pages or your own content.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoPageIntersectionRequest] :seo_page_intersection_request 
    # @return [Array<(SeoCompetitorsPageIntersectionPost200Response, Integer, Hash)>] SeoCompetitorsPageIntersectionPost200Response data, response status code and response headers
    def seo_competitors_page_intersection_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_competitors_page_intersection_post ...'
      end
      # resource path
      local_var_path = '/seo/competitors/page-intersection'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_page_intersection_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoCompetitorsPageIntersectionPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_competitors_page_intersection_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_competitors_page_intersection_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find the keywords a domain ranks for
    # Return the keywords a target domain or page ranks for in organic search, each with search volume, difficulty, and the exact ranking position and URL, for competitor keyword research.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoRankedKeywordsRequest] :seo_ranked_keywords_request 
    # @return [SeoCompetitorsRankedKeywordsPost200Response]
    def seo_competitors_ranked_keywords_post(opts = {})
      data, _status_code, _headers = seo_competitors_ranked_keywords_post_with_http_info(opts)
      data
    end

    # Find the keywords a domain ranks for
    # Return the keywords a target domain or page ranks for in organic search, each with search volume, difficulty, and the exact ranking position and URL, for competitor keyword research.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoRankedKeywordsRequest] :seo_ranked_keywords_request 
    # @return [Array<(SeoCompetitorsRankedKeywordsPost200Response, Integer, Hash)>] SeoCompetitorsRankedKeywordsPost200Response data, response status code and response headers
    def seo_competitors_ranked_keywords_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_competitors_ranked_keywords_post ...'
      end
      # resource path
      local_var_path = '/seo/competitors/ranked-keywords'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_ranked_keywords_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoCompetitorsRankedKeywordsPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_competitors_ranked_keywords_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_competitors_ranked_keywords_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a domain's top ranking pages
    # Return the pages of a target domain that drive the most organic search traffic, each with its ranking distribution and estimated traffic, for content gap and page-level analysis.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoRelevantPagesRequest] :seo_relevant_pages_request 
    # @return [SeoCompetitorsRelevantPagesPost200Response]
    def seo_competitors_relevant_pages_post(opts = {})
      data, _status_code, _headers = seo_competitors_relevant_pages_post_with_http_info(opts)
      data
    end

    # List a domain&#39;s top ranking pages
    # Return the pages of a target domain that drive the most organic search traffic, each with its ranking distribution and estimated traffic, for content gap and page-level analysis.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoRelevantPagesRequest] :seo_relevant_pages_request 
    # @return [Array<(SeoCompetitorsRelevantPagesPost200Response, Integer, Hash)>] SeoCompetitorsRelevantPagesPost200Response data, response status code and response headers
    def seo_competitors_relevant_pages_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_competitors_relevant_pages_post ...'
      end
      # resource path
      local_var_path = '/seo/competitors/relevant-pages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_relevant_pages_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoCompetitorsRelevantPagesPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_competitors_relevant_pages_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_competitors_relevant_pages_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find domains competing for keywords
    # Return the domains that rank for a set of seed keywords, ranked by visibility, with average position, estimated traffic, and the number of shared keywords, to discover SERP competitors.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoSerpCompetitorsRequest] :seo_serp_competitors_request 
    # @return [SeoCompetitorsSerpPost200Response]
    def seo_competitors_serp_post(opts = {})
      data, _status_code, _headers = seo_competitors_serp_post_with_http_info(opts)
      data
    end

    # Find domains competing for keywords
    # Return the domains that rank for a set of seed keywords, ranked by visibility, with average position, estimated traffic, and the number of shared keywords, to discover SERP competitors.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoSerpCompetitorsRequest] :seo_serp_competitors_request 
    # @return [Array<(SeoCompetitorsSerpPost200Response, Integer, Hash)>] SeoCompetitorsSerpPost200Response data, response status code and response headers
    def seo_competitors_serp_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_competitors_serp_post ...'
      end
      # resource path
      local_var_path = '/seo/competitors/serp'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_serp_competitors_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoCompetitorsSerpPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_competitors_serp_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_competitors_serp_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a domain's subdomains with traffic
    # Return the subdomains of a target domain, each with its organic ranking distribution and estimated traffic, to see which subdomains drive search visibility.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoSubdomainsRequest] :seo_subdomains_request 
    # @return [SeoCompetitorsSubdomainsPost200Response]
    def seo_competitors_subdomains_post(opts = {})
      data, _status_code, _headers = seo_competitors_subdomains_post_with_http_info(opts)
      data
    end

    # List a domain&#39;s subdomains with traffic
    # Return the subdomains of a target domain, each with its organic ranking distribution and estimated traffic, to see which subdomains drive search visibility.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoSubdomainsRequest] :seo_subdomains_request 
    # @return [Array<(SeoCompetitorsSubdomainsPost200Response, Integer, Hash)>] SeoCompetitorsSubdomainsPost200Response data, response status code and response headers
    def seo_competitors_subdomains_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_competitors_subdomains_post ...'
      end
      # resource path
      local_var_path = '/seo/competitors/subdomains'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_subdomains_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoCompetitorsSubdomainsPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_competitors_subdomains_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_competitors_subdomains_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Collect autocomplete keyword suggestions
    # Run one live autocomplete lookup for a seed query and receive the suggested searches the engine offers, with relevance scores — useful for SEO keyword discovery and content-gap research.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoKeywordAutocompleteRequest] :seo_keyword_autocomplete_request 
    # @return [SeoKeywordsAutocompletePost200Response]
    def seo_keywords_autocomplete_post(opts = {})
      data, _status_code, _headers = seo_keywords_autocomplete_post_with_http_info(opts)
      data
    end

    # Collect autocomplete keyword suggestions
    # Run one live autocomplete lookup for a seed query and receive the suggested searches the engine offers, with relevance scores — useful for SEO keyword discovery and content-gap research.
    # @param [Hash] opts the optional parameters
    # @option opts [SeoKeywordAutocompleteRequest] :seo_keyword_autocomplete_request 
    # @return [Array<(SeoKeywordsAutocompletePost200Response, Integer, Hash)>] SeoKeywordsAutocompletePost200Response data, response status code and response headers
    def seo_keywords_autocomplete_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SeoApi.seo_keywords_autocomplete_post ...'
      end
      # resource path
      local_var_path = '/seo/keywords/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'seo_keyword_autocomplete_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SeoKeywordsAutocompletePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SeoApi.seo_keywords_autocomplete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SeoApi#seo_keywords_autocomplete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

[...]
