=begin
#UnifAPI

#Unified, AI-friendly API for public-data providers. Single source of truth for the UnifAPI gateway — consumed by docs (Fumadocs), the marketing site, and downstream SDK generators.

The version of the OpenAPI document: 0.0.1
Contact: support@unifapi.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Unifapi
  class ThreadsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Search Threads users by keyword
    # @param q [String] Search keyword.
    # @param [Hash] opts the optional parameters
    # @return [ThreadsSearchProfilesGet200Response]
    def threads_search_profiles_get(q, opts = {})
      data, _status_code, _headers = threads_search_profiles_get_with_http_info(q, opts)
      data
    end

    # Search Threads users by keyword
    # @param q [String] Search keyword.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ThreadsSearchProfilesGet200Response, Integer, Hash)>] ThreadsSearchProfilesGet200Response data, response status code and response headers
    def threads_search_profiles_get_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThreadsApi.threads_search_profiles_get ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling ThreadsApi.threads_search_profiles_get"
      end
      if @api_client.config.client_side_validation && q.to_s.length < 1
        fail ArgumentError, 'invalid value for "q" when calling ThreadsApi.threads_search_profiles_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/threads/search/profiles'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ThreadsSearchProfilesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ThreadsApi.threads_search_profiles_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThreadsApi#threads_search_profiles_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search recent Threads posts
    # @param q [String] Search keyword.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [ThreadsSearchRecentGet200Response]
    def threads_search_recent_get(q, opts = {})
      data, _status_code, _headers = threads_search_recent_get_with_http_info(q, opts)
      data
    end

    # Search recent Threads posts
    # @param q [String] Search keyword.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(ThreadsSearchRecentGet200Response, Integer, Hash)>] ThreadsSearchRecentGet200Response data, response status code and response headers
    def threads_search_recent_get_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThreadsApi.threads_search_recent_get ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling ThreadsApi.threads_search_recent_get"
      end
      if @api_client.config.client_side_validation && q.to_s.length < 1
        fail ArgumentError, 'invalid value for "q" when calling ThreadsApi.threads_search_recent_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/threads/search/recent'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ThreadsSearchRecentGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ThreadsApi.threads_search_recent_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThreadsApi#threads_search_recent_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search top Threads posts
    # @param q [String] Search keyword.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [ThreadsSearchRecentGet200Response]
    def threads_search_top_get(q, opts = {})
      data, _status_code, _headers = threads_search_top_get_with_http_info(q, opts)
      data
    end

    # Search top Threads posts
    # @param q [String] Search keyword.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(ThreadsSearchRecentGet200Response, Integer, Hash)>] ThreadsSearchRecentGet200Response data, response status code and response headers
    def threads_search_top_get_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThreadsApi.threads_search_top_get ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling ThreadsApi.threads_search_top_get"
      end
      if @api_client.config.client_side_validation && q.to_s.length < 1
        fail ArgumentError, 'invalid value for "q" when calling ThreadsApi.threads_search_top_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/threads/search/top'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ThreadsSearchRecentGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ThreadsApi.threads_search_top_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThreadsApi#threads_search_top_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a Threads user profile by username
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [ThreadsUsersUsernameGet200Response]
    def threads_users_username_get(username, opts = {})
      data, _status_code, _headers = threads_users_username_get_with_http_info(username, opts)
      data
    end

    # Get a Threads user profile by username
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ThreadsUsersUsernameGet200Response, Integer, Hash)>] ThreadsUsersUsernameGet200Response data, response status code and response headers
    def threads_users_username_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThreadsApi.threads_users_username_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling ThreadsApi.threads_users_username_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling ThreadsApi.threads_users_username_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/threads/users/{username}'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ThreadsUsersUsernameGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ThreadsApi.threads_users_username_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThreadsApi#threads_users_username_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Threads posts authored by a user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [ThreadsSearchRecentGet200Response]
    def threads_users_username_posts_get(username, opts = {})
      data, _status_code, _headers = threads_users_username_posts_get_with_http_info(username, opts)
      data
    end

    # List Threads posts authored by a user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(ThreadsSearchRecentGet200Response, Integer, Hash)>] ThreadsSearchRecentGet200Response data, response status code and response headers
    def threads_users_username_posts_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThreadsApi.threads_users_username_posts_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling ThreadsApi.threads_users_username_posts_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling ThreadsApi.threads_users_username_posts_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/threads/users/{username}/posts'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ThreadsSearchRecentGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ThreadsApi.threads_users_username_posts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThreadsApi#threads_users_username_posts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Threads replies authored by a user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [ThreadsSearchRecentGet200Response]
    def threads_users_username_replies_get(username, opts = {})
      data, _status_code, _headers = threads_users_username_replies_get_with_http_info(username, opts)
      data
    end

    # List Threads replies authored by a user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(ThreadsSearchRecentGet200Response, Integer, Hash)>] ThreadsSearchRecentGet200Response data, response status code and response headers
    def threads_users_username_replies_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThreadsApi.threads_users_username_replies_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling ThreadsApi.threads_users_username_replies_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling ThreadsApi.threads_users_username_replies_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/threads/users/{username}/replies'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ThreadsSearchRecentGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ThreadsApi.threads_users_username_replies_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThreadsApi#threads_users_username_replies_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Threads reposts by a user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [ThreadsSearchRecentGet200Response]
    def threads_users_username_reposts_get(username, opts = {})
      data, _status_code, _headers = threads_users_username_reposts_get_with_http_info(username, opts)
      data
    end

    # List Threads reposts by a user
    # @param username [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(ThreadsSearchRecentGet200Response, Integer, Hash)>] ThreadsSearchRecentGet200Response data, response status code and response headers
    def threads_users_username_reposts_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThreadsApi.threads_users_username_reposts_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling ThreadsApi.threads_users_username_reposts_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling ThreadsApi.threads_users_username_reposts_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/threads/users/{username}/reposts'.sub('{' + 'username' + '}', CGI.escape(username.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ThreadsSearchRecentGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ThreadsApi.threads_users_username_reposts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThreadsApi#threads_users_username_reposts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
