=begin
#UnifAPI

#Unified, AI-friendly API for public-data providers. Single source of truth for the UnifAPI gateway — consumed by docs (Fumadocs), the marketing site, and downstream SDK generators.

The version of the OpenAPI document: 0.0.1
Contact: support@unifapi.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Unifapi
  class TiktokApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get TikTok recommendation videos
    # @param [Hash] opts the optional parameters
    # @option opts [TiktokFeedRecommendedPostRequest] :tiktok_feed_recommended_post_request 
    # @return [TiktokFeedRecommendedPost200Response]
    def tiktok_feed_recommended_post(opts = {})
      data, _status_code, _headers = tiktok_feed_recommended_post_with_http_info(opts)
      data
    end

    # Get TikTok recommendation videos
    # @param [Hash] opts the optional parameters
    # @option opts [TiktokFeedRecommendedPostRequest] :tiktok_feed_recommended_post_request 
    # @return [Array<(TiktokFeedRecommendedPost200Response, Integer, Hash)>] TiktokFeedRecommendedPost200Response data, response status code and response headers
    def tiktok_feed_recommended_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_feed_recommended_post ...'
      end
      # resource path
      local_var_path = '/tiktok/feed/recommended'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tiktok_feed_recommended_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokFeedRecommendedPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_feed_recommended_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_feed_recommended_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a TikTok hashtag by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TiktokHashtagsIdGet200Response]
    def tiktok_hashtags_id_get(id, opts = {})
      data, _status_code, _headers = tiktok_hashtags_id_get_with_http_info(id, opts)
      data
    end

    # Get a TikTok hashtag by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TiktokHashtagsIdGet200Response, Integer, Hash)>] TiktokHashtagsIdGet200Response data, response status code and response headers
    def tiktok_hashtags_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_hashtags_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TiktokApi.tiktok_hashtags_id_get"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling TiktokApi.tiktok_hashtags_id_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/tiktok/hashtags/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokHashtagsIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_hashtags_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_hashtags_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List videos tagged with a TikTok hashtag
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [TiktokHashtagsIdVideosGet200Response]
    def tiktok_hashtags_id_videos_get(id, opts = {})
      data, _status_code, _headers = tiktok_hashtags_id_videos_get_with_http_info(id, opts)
      data
    end

    # List videos tagged with a TikTok hashtag
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(TiktokHashtagsIdVideosGet200Response, Integer, Hash)>] TiktokHashtagsIdVideosGet200Response data, response status code and response headers
    def tiktok_hashtags_id_videos_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_hashtags_id_videos_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TiktokApi.tiktok_hashtags_id_videos_get"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling TiktokApi.tiktok_hashtags_id_videos_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_hashtags_id_videos_get, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_hashtags_id_videos_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/tiktok/hashtags/{id}/videos'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokHashtagsIdVideosGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_hashtags_id_videos_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_hashtags_id_videos_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a TikTok music track by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TiktokMusicIdGet200Response]
    def tiktok_music_id_get(id, opts = {})
      data, _status_code, _headers = tiktok_music_id_get_with_http_info(id, opts)
      data
    end

    # Get a TikTok music track by ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TiktokMusicIdGet200Response, Integer, Hash)>] TiktokMusicIdGet200Response data, response status code and response headers
    def tiktok_music_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_music_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TiktokApi.tiktok_music_id_get"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling TiktokApi.tiktok_music_id_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/tiktok/music/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokMusicIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_music_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_music_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List videos using a TikTok music track
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [TiktokHashtagsIdVideosGet200Response]
    def tiktok_music_id_videos_get(id, opts = {})
      data, _status_code, _headers = tiktok_music_id_videos_get_with_http_info(id, opts)
      data
    end

    # List videos using a TikTok music track
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(TiktokHashtagsIdVideosGet200Response, Integer, Hash)>] TiktokHashtagsIdVideosGet200Response data, response status code and response headers
    def tiktok_music_id_videos_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_music_id_videos_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TiktokApi.tiktok_music_id_videos_get"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling TiktokApi.tiktok_music_id_videos_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_music_id_videos_get, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_music_id_videos_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/tiktok/music/{id}/videos'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokHashtagsIdVideosGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_music_id_videos_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_music_id_videos_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # General TikTok search (returns videos)
    # Returns TikTok videos for the keyword `q`. Use type-specific endpoints when needed.
    # @param q [String] Search keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [TiktokHashtagsIdVideosGet200Response]
    def tiktok_search_get(q, opts = {})
      data, _status_code, _headers = tiktok_search_get_with_http_info(q, opts)
      data
    end

    # General TikTok search (returns videos)
    # Returns TikTok videos for the keyword &#x60;q&#x60;. Use type-specific endpoints when needed.
    # @param q [String] Search keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(TiktokHashtagsIdVideosGet200Response, Integer, Hash)>] TiktokHashtagsIdVideosGet200Response data, response status code and response headers
    def tiktok_search_get_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_search_get ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling TiktokApi.tiktok_search_get"
      end
      if @api_client.config.client_side_validation && q.to_s.length < 1
        fail ArgumentError, 'invalid value for "q" when calling TiktokApi.tiktok_search_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_search_get, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_search_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/tiktok/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokHashtagsIdVideosGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_search_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_search_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search TikTok hashtags by keyword
    # @param q [String] Search keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [TiktokSearchHashtagsGet200Response]
    def tiktok_search_hashtags_get(q, opts = {})
      data, _status_code, _headers = tiktok_search_hashtags_get_with_http_info(q, opts)
      data
    end

    # Search TikTok hashtags by keyword
    # @param q [String] Search keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(TiktokSearchHashtagsGet200Response, Integer, Hash)>] TiktokSearchHashtagsGet200Response data, response status code and response headers
    def tiktok_search_hashtags_get_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_search_hashtags_get ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling TiktokApi.tiktok_search_hashtags_get"
      end
      if @api_client.config.client_side_validation && q.to_s.length < 1
        fail ArgumentError, 'invalid value for "q" when calling TiktokApi.tiktok_search_hashtags_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_search_hashtags_get, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_search_hashtags_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/tiktok/search/hashtags'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokSearchHashtagsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_search_hashtags_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_search_hashtags_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search TikTok users by keyword
    # @param q [String] Search keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [TiktokSearchUsersGet200Response]
    def tiktok_search_users_get(q, opts = {})
      data, _status_code, _headers = tiktok_search_users_get_with_http_info(q, opts)
      data
    end

    # Search TikTok users by keyword
    # @param q [String] Search keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(TiktokSearchUsersGet200Response, Integer, Hash)>] TiktokSearchUsersGet200Response data, response status code and response headers
    def tiktok_search_users_get_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_search_users_get ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling TiktokApi.tiktok_search_users_get"
      end
      if @api_client.config.client_side_validation && q.to_s.length < 1
        fail ArgumentError, 'invalid value for "q" when calling TiktokApi.tiktok_search_users_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_search_users_get, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_search_users_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/tiktok/search/users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokSearchUsersGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_search_users_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_search_users_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search TikTok videos by keyword
    # Returns a paginated list of TikTok videos matching the keyword `q`. Use `next_cursor` from the response as the next request's `cursor`.
    # @param q [String] Search keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [TiktokHashtagsIdVideosGet200Response]
    def tiktok_search_videos_get(q, opts = {})
      data, _status_code, _headers = tiktok_search_videos_get_with_http_info(q, opts)
      data
    end

    # Search TikTok videos by keyword
    # Returns a paginated list of TikTok videos matching the keyword &#x60;q&#x60;. Use &#x60;next_cursor&#x60; from the response as the next request&#39;s &#x60;cursor&#x60;.
    # @param q [String] Search keyword
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(TiktokHashtagsIdVideosGet200Response, Integer, Hash)>] TiktokHashtagsIdVideosGet200Response data, response status code and response headers
    def tiktok_search_videos_get_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_search_videos_get ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling TiktokApi.tiktok_search_videos_get"
      end
      if @api_client.config.client_side_validation && q.to_s.length < 1
        fail ArgumentError, 'invalid value for "q" when calling TiktokApi.tiktok_search_videos_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_search_videos_get, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_search_videos_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/tiktok/search/videos'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokHashtagsIdVideosGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_search_videos_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_search_videos_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a TikTok user's followers
    # Returns a paginated list of users following the given user.
    # @param id [String] TikTok sec_uid, numeric user id, or public handle.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [TiktokSearchUsersGet200Response]
    def tiktok_users_id_followers_get(id, opts = {})
      data, _status_code, _headers = tiktok_users_id_followers_get_with_http_info(id, opts)
      data
    end

    # List a TikTok user&#39;s followers
    # Returns a paginated list of users following the given user.
    # @param id [String] TikTok sec_uid, numeric user id, or public handle.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(TiktokSearchUsersGet200Response, Integer, Hash)>] TiktokSearchUsersGet200Response data, response status code and response headers
    def tiktok_users_id_followers_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_users_id_followers_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TiktokApi.tiktok_users_id_followers_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling TiktokApi.tiktok_users_id_followers_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_users_id_followers_get, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_users_id_followers_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/tiktok/users/{id}/followers'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokSearchUsersGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_users_id_followers_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_users_id_followers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List users a TikTok user is following
    # Returns a paginated list of users the given user is following.
    # @param id [String] TikTok sec_uid, numeric user id, or public handle.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [TiktokSearchUsersGet200Response]
    def tiktok_users_id_following_get(id, opts = {})
      data, _status_code, _headers = tiktok_users_id_following_get_with_http_info(id, opts)
      data
    end

    # List users a TikTok user is following
    # Returns a paginated list of users the given user is following.
    # @param id [String] TikTok sec_uid, numeric user id, or public handle.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(TiktokSearchUsersGet200Response, Integer, Hash)>] TiktokSearchUsersGet200Response data, response status code and response headers
    def tiktok_users_id_following_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_users_id_following_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TiktokApi.tiktok_users_id_following_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling TiktokApi.tiktok_users_id_following_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_users_id_following_get, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_users_id_following_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/tiktok/users/{id}/following'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokSearchUsersGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_users_id_following_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_users_id_following_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a TikTok user profile
    # Returns the canonicalized public profile for the TikTok user with the given sec_uid, numeric user id, or handle.
    # @param id [String] TikTok sec_uid, numeric user id, or public handle.
    # @param [Hash] opts the optional parameters
    # @return [TiktokUsersIdGet200Response]
    def tiktok_users_id_get(id, opts = {})
      data, _status_code, _headers = tiktok_users_id_get_with_http_info(id, opts)
      data
    end

    # Get a TikTok user profile
    # Returns the canonicalized public profile for the TikTok user with the given sec_uid, numeric user id, or handle.
    # @param id [String] TikTok sec_uid, numeric user id, or public handle.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TiktokUsersIdGet200Response, Integer, Hash)>] TiktokUsersIdGet200Response data, response status code and response headers
    def tiktok_users_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_users_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TiktokApi.tiktok_users_id_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling TiktokApi.tiktok_users_id_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/tiktok/users/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokUsersIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_users_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_users_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List videos liked by a TikTok user
    # Returns a paginated list of videos the user has liked where the user has made their likes public.
    # @param id [String] TikTok sec_uid, numeric user id, or public handle.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [TiktokHashtagsIdVideosGet200Response]
    def tiktok_users_id_likes_get(id, opts = {})
      data, _status_code, _headers = tiktok_users_id_likes_get_with_http_info(id, opts)
      data
    end

    # List videos liked by a TikTok user
    # Returns a paginated list of videos the user has liked where the user has made their likes public.
    # @param id [String] TikTok sec_uid, numeric user id, or public handle.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(TiktokHashtagsIdVideosGet200Response, Integer, Hash)>] TiktokHashtagsIdVideosGet200Response data, response status code and response headers
    def tiktok_users_id_likes_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_users_id_likes_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TiktokApi.tiktok_users_id_likes_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling TiktokApi.tiktok_users_id_likes_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_users_id_likes_get, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_users_id_likes_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/tiktok/users/{id}/likes'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokHashtagsIdVideosGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_users_id_likes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_users_id_likes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List videos posted by a TikTok user
    # Returns a paginated list of public videos posted by the user. Use `next_cursor` from the response as the next request's `cursor`.
    # @param id [String] TikTok sec_uid, numeric user id, or public handle.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [TiktokHashtagsIdVideosGet200Response]
    def tiktok_users_id_videos_get(id, opts = {})
      data, _status_code, _headers = tiktok_users_id_videos_get_with_http_info(id, opts)
      data
    end

    # List videos posted by a TikTok user
    # Returns a paginated list of public videos posted by the user. Use &#x60;next_cursor&#x60; from the response as the next request&#39;s &#x60;cursor&#x60;.
    # @param id [String] TikTok sec_uid, numeric user id, or public handle.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(TiktokHashtagsIdVideosGet200Response, Integer, Hash)>] TiktokHashtagsIdVideosGet200Response data, response status code and response headers
    def tiktok_users_id_videos_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_users_id_videos_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TiktokApi.tiktok_users_id_videos_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling TiktokApi.tiktok_users_id_videos_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_users_id_videos_get, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_users_id_videos_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/tiktok/users/{id}/videos'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokHashtagsIdVideosGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_users_id_videos_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_users_id_videos_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resolve a TikTok username to a user id
    # Accepts a public TikTok username (handle) and returns the user's stable opaque id for other /tiktok/users/{id} endpoints.
    # @param username [String] Public TikTok handle, e.g. &#39;jennmelon&#39;
    # @param [Hash] opts the optional parameters
    # @return [TiktokUsersResolveGet200Response]
    def tiktok_users_resolve_get(username, opts = {})
      data, _status_code, _headers = tiktok_users_resolve_get_with_http_info(username, opts)
      data
    end

    # Resolve a TikTok username to a user id
    # Accepts a public TikTok username (handle) and returns the user&#39;s stable opaque id for other /tiktok/users/{id} endpoints.
    # @param username [String] Public TikTok handle, e.g. &#39;jennmelon&#39;
    # @param [Hash] opts the optional parameters
    # @return [Array<(TiktokUsersResolveGet200Response, Integer, Hash)>] TiktokUsersResolveGet200Response data, response status code and response headers
    def tiktok_users_resolve_get_with_http_info(username, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_users_resolve_get ...'
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling TiktokApi.tiktok_users_resolve_get"
      end
      if @api_client.config.client_side_validation && username.to_s.length < 1
        fail ArgumentError, 'invalid value for "username" when calling TiktokApi.tiktok_users_resolve_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/tiktok/users/resolve'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'username'] = username

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokUsersResolveGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_users_resolve_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_users_resolve_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Batch-fetch TikTok videos by ID
    # Returns canonicalized metadata for up to 20 TikTok videos.
    # @param [Hash] opts the optional parameters
    # @option opts [TiktokVideosBatchPostRequest] :tiktok_videos_batch_post_request 
    # @return [TiktokFeedRecommendedPost200Response]
    def tiktok_videos_batch_post(opts = {})
      data, _status_code, _headers = tiktok_videos_batch_post_with_http_info(opts)
      data
    end

    # Batch-fetch TikTok videos by ID
    # Returns canonicalized metadata for up to 20 TikTok videos.
    # @param [Hash] opts the optional parameters
    # @option opts [TiktokVideosBatchPostRequest] :tiktok_videos_batch_post_request 
    # @return [Array<(TiktokFeedRecommendedPost200Response, Integer, Hash)>] TiktokFeedRecommendedPost200Response data, response status code and response headers
    def tiktok_videos_batch_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_videos_batch_post ...'
      end
      # resource path
      local_var_path = '/tiktok/videos/batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tiktok_videos_batch_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokFeedRecommendedPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_videos_batch_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_videos_batch_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List replies to a TikTok comment
    # @param id [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [TiktokVideosIdCommentsCommentIdRepliesGet200Response]
    def tiktok_videos_id_comments_comment_id_replies_get(id, comment_id, opts = {})
      data, _status_code, _headers = tiktok_videos_id_comments_comment_id_replies_get_with_http_info(id, comment_id, opts)
      data
    end

    # List replies to a TikTok comment
    # @param id [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(TiktokVideosIdCommentsCommentIdRepliesGet200Response, Integer, Hash)>] TiktokVideosIdCommentsCommentIdRepliesGet200Response data, response status code and response headers
    def tiktok_videos_id_comments_comment_id_replies_get_with_http_info(id, comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_videos_id_comments_comment_id_replies_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TiktokApi.tiktok_videos_id_comments_comment_id_replies_get"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling TiktokApi.tiktok_videos_id_comments_comment_id_replies_get, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling TiktokApi.tiktok_videos_id_comments_comment_id_replies_get"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && comment_id !~ pattern
        fail ArgumentError, "invalid value for 'comment_id' when calling TiktokApi.tiktok_videos_id_comments_comment_id_replies_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_videos_id_comments_comment_id_replies_get, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_videos_id_comments_comment_id_replies_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/tiktok/videos/{id}/comments/{comment_id}/replies'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'comment_id' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokVideosIdCommentsCommentIdRepliesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_videos_id_comments_comment_id_replies_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_videos_id_comments_comment_id_replies_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List top-level comments on a TikTok video
    # Returns a paginated list of top-level comments on the given video. Use `next_cursor` from the response as the next request's `cursor`.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [TiktokVideosIdCommentsCommentIdRepliesGet200Response]
    def tiktok_videos_id_comments_get(id, opts = {})
      data, _status_code, _headers = tiktok_videos_id_comments_get_with_http_info(id, opts)
      data
    end

    # List top-level comments on a TikTok video
    # Returns a paginated list of top-level comments on the given video. Use &#x60;next_cursor&#x60; from the response as the next request&#39;s &#x60;cursor&#x60;.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(TiktokVideosIdCommentsCommentIdRepliesGet200Response, Integer, Hash)>] TiktokVideosIdCommentsCommentIdRepliesGet200Response data, response status code and response headers
    def tiktok_videos_id_comments_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_videos_id_comments_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TiktokApi.tiktok_videos_id_comments_get"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling TiktokApi.tiktok_videos_id_comments_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_videos_id_comments_get, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TiktokApi.tiktok_videos_id_comments_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/tiktok/videos/{id}/comments'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokVideosIdCommentsCommentIdRepliesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_videos_id_comments_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_videos_id_comments_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a TikTok video by ID
    # Returns canonicalized metadata for a single TikTok video. The `{id}` must be the numeric TikTok video id.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TiktokVideosIdGet200Response]
    def tiktok_videos_id_get(id, opts = {})
      data, _status_code, _headers = tiktok_videos_id_get_with_http_info(id, opts)
      data
    end

    # Get a TikTok video by ID
    # Returns canonicalized metadata for a single TikTok video. The &#x60;{id}&#x60; must be the numeric TikTok video id.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TiktokVideosIdGet200Response, Integer, Hash)>] TiktokVideosIdGet200Response data, response status code and response headers
    def tiktok_videos_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_videos_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TiktokApi.tiktok_videos_id_get"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling TiktokApi.tiktok_videos_id_get, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/tiktok/videos/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokVideosIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_videos_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_videos_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resolve a TikTok share URL to a video
    # Accepts a TikTok share URL (long or short / vm.tiktok.com) and returns the canonical Video object.
    # @param url [String] TikTok share URL (long or short form)
    # @param [Hash] opts the optional parameters
    # @return [TiktokVideosIdGet200Response]
    def tiktok_videos_resolve_get(url, opts = {})
      data, _status_code, _headers = tiktok_videos_resolve_get_with_http_info(url, opts)
      data
    end

    # Resolve a TikTok share URL to a video
    # Accepts a TikTok share URL (long or short / vm.tiktok.com) and returns the canonical Video object.
    # @param url [String] TikTok share URL (long or short form)
    # @param [Hash] opts the optional parameters
    # @return [Array<(TiktokVideosIdGet200Response, Integer, Hash)>] TiktokVideosIdGet200Response data, response status code and response headers
    def tiktok_videos_resolve_get_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TiktokApi.tiktok_videos_resolve_get ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling TiktokApi.tiktok_videos_resolve_get"
      end
      # resource path
      local_var_path = '/tiktok/videos/resolve'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TiktokVideosIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TiktokApi.tiktok_videos_resolve_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TiktokApi#tiktok_videos_resolve_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
