=begin
#UnifAPI

#Unified, AI-friendly API for public-data providers. Single source of truth for the UnifAPI gateway — consumed by docs (Fumadocs), the marketing site, and downstream SDK generators.

The version of the OpenAPI document: 0.0.1
Contact: support@unifapi.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Unifapi
  class XApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Autocomplete X users, topics, hashtags, and cashtags
    # @param query [String] 
    # @param [Hash] opts the optional parameters
    # @return [XAutocompleteGet200Response]
    def x_autocomplete_get(query, opts = {})
      data, _status_code, _headers = x_autocomplete_get_with_http_info(query, opts)
      data
    end

    # Autocomplete X users, topics, hashtags, and cashtags
    # @param query [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(XAutocompleteGet200Response, Integer, Hash)>] XAutocompleteGet200Response data, response status code and response headers
    def x_autocomplete_get_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_autocomplete_get ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling XApi.x_autocomplete_get"
      end
      if @api_client.config.client_side_validation && query.to_s.length < 1
        fail ArgumentError, 'invalid value for "query" when calling XApi.x_autocomplete_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XAutocompleteGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_autocomplete_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_autocomplete_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an X Community about timeline
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [XCommunitiesIdAboutGet200Response]
    def x_communities_id_about_get(id, opts = {})
      data, _status_code, _headers = x_communities_id_about_get_with_http_info(id, opts)
      data
    end

    # Get an X Community about timeline
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [Array<(XCommunitiesIdAboutGet200Response, Integer, Hash)>] XCommunitiesIdAboutGet200Response data, response status code and response headers
    def x_communities_id_about_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_communities_id_about_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling XApi.x_communities_id_about_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling XApi.x_communities_id_about_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] > 100
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_communities_id_about_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_communities_id_about_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/communities/{id}/about'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expansions'] = opts[:'expansions'] if !opts[:'expansions'].nil?
      query_params[:'tweet.fields'] = opts[:'tweet_fields'] if !opts[:'tweet_fields'].nil?
      query_params[:'user.fields'] = opts[:'user_fields'] if !opts[:'user_fields'].nil?
      query_params[:'media.fields'] = opts[:'media_fields'] if !opts[:'media_fields'].nil?
      query_params[:'place.fields'] = opts[:'place_fields'] if !opts[:'place_fields'].nil?
      query_params[:'poll.fields'] = opts[:'poll_fields'] if !opts[:'poll_fields'].nil?
      query_params[:'pagination_token'] = opts[:'pagination_token'] if !opts[:'pagination_token'].nil?
      query_params[:'next_token'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XCommunitiesIdAboutGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_communities_id_about_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_communities_id_about_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get X Community by ID
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :community_fields 
    # @return [XCommunitiesIdGet200Response]
    def x_communities_id_get(id, opts = {})
      data, _status_code, _headers = x_communities_id_get_with_http_info(id, opts)
      data
    end

    # Get X Community by ID
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :community_fields 
    # @return [Array<(XCommunitiesIdGet200Response, Integer, Hash)>] XCommunitiesIdGet200Response data, response status code and response headers
    def x_communities_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_communities_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling XApi.x_communities_id_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling XApi.x_communities_id_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/communities/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'community.fields'] = opts[:'community_fields'] if !opts[:'community_fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XCommunitiesIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_communities_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_communities_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get media Posts from an X Community
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [XCommunitiesIdAboutGet200Response]
    def x_communities_id_media_get(id, opts = {})
      data, _status_code, _headers = x_communities_id_media_get_with_http_info(id, opts)
      data
    end

    # Get media Posts from an X Community
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [Array<(XCommunitiesIdAboutGet200Response, Integer, Hash)>] XCommunitiesIdAboutGet200Response data, response status code and response headers
    def x_communities_id_media_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_communities_id_media_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling XApi.x_communities_id_media_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling XApi.x_communities_id_media_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] > 100
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_communities_id_media_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_communities_id_media_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/communities/{id}/media'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expansions'] = opts[:'expansions'] if !opts[:'expansions'].nil?
      query_params[:'tweet.fields'] = opts[:'tweet_fields'] if !opts[:'tweet_fields'].nil?
      query_params[:'user.fields'] = opts[:'user_fields'] if !opts[:'user_fields'].nil?
      query_params[:'media.fields'] = opts[:'media_fields'] if !opts[:'media_fields'].nil?
      query_params[:'place.fields'] = opts[:'place_fields'] if !opts[:'place_fields'].nil?
      query_params[:'poll.fields'] = opts[:'poll_fields'] if !opts[:'poll_fields'].nil?
      query_params[:'pagination_token'] = opts[:'pagination_token'] if !opts[:'pagination_token'].nil?
      query_params[:'next_token'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XCommunitiesIdAboutGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_communities_id_media_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_communities_id_media_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search members in an X Community
    # @param id [String] X resource id.
    # @param query [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [XCommunitiesIdMemberSearchGet200Response]
    def x_communities_id_member_search_get(id, query, opts = {})
      data, _status_code, _headers = x_communities_id_member_search_get_with_http_info(id, query, opts)
      data
    end

    # Search members in an X Community
    # @param id [String] X resource id.
    # @param query [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [Array<(XCommunitiesIdMemberSearchGet200Response, Integer, Hash)>] XCommunitiesIdMemberSearchGet200Response data, response status code and response headers
    def x_communities_id_member_search_get_with_http_info(id, query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_communities_id_member_search_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling XApi.x_communities_id_member_search_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling XApi.x_communities_id_member_search_get, the character length must be great than or equal to 1.'
      end

      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling XApi.x_communities_id_member_search_get"
      end
      if @api_client.config.client_side_validation && query.to_s.length < 1
        fail ArgumentError, 'invalid value for "query" when calling XApi.x_communities_id_member_search_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] > 100
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_communities_id_member_search_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_communities_id_member_search_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/communities/{id}/member_search'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'expansions'] = opts[:'expansions'] if !opts[:'expansions'].nil?
      query_params[:'tweet.fields'] = opts[:'tweet_fields'] if !opts[:'tweet_fields'].nil?
      query_params[:'user.fields'] = opts[:'user_fields'] if !opts[:'user_fields'].nil?
      query_params[:'media.fields'] = opts[:'media_fields'] if !opts[:'media_fields'].nil?
      query_params[:'place.fields'] = opts[:'place_fields'] if !opts[:'place_fields'].nil?
      query_params[:'poll.fields'] = opts[:'poll_fields'] if !opts[:'poll_fields'].nil?
      query_params[:'pagination_token'] = opts[:'pagination_token'] if !opts[:'pagination_token'].nil?
      query_params[:'next_token'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XCommunitiesIdMemberSearchGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_communities_id_member_search_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_communities_id_member_search_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get members of an X Community
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [XCommunitiesIdMemberSearchGet200Response]
    def x_communities_id_members_get(id, opts = {})
      data, _status_code, _headers = x_communities_id_members_get_with_http_info(id, opts)
      data
    end

    # Get members of an X Community
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [Array<(XCommunitiesIdMemberSearchGet200Response, Integer, Hash)>] XCommunitiesIdMemberSearchGet200Response data, response status code and response headers
    def x_communities_id_members_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_communities_id_members_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling XApi.x_communities_id_members_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling XApi.x_communities_id_members_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] > 100
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_communities_id_members_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_communities_id_members_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/communities/{id}/members'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expansions'] = opts[:'expansions'] if !opts[:'expansions'].nil?
      query_params[:'tweet.fields'] = opts[:'tweet_fields'] if !opts[:'tweet_fields'].nil?
      query_params[:'user.fields'] = opts[:'user_fields'] if !opts[:'user_fields'].nil?
      query_params[:'media.fields'] = opts[:'media_fields'] if !opts[:'media_fields'].nil?
      query_params[:'place.fields'] = opts[:'place_fields'] if !opts[:'place_fields'].nil?
      query_params[:'poll.fields'] = opts[:'poll_fields'] if !opts[:'poll_fields'].nil?
      query_params[:'pagination_token'] = opts[:'pagination_token'] if !opts[:'pagination_token'].nil?
      query_params[:'next_token'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XCommunitiesIdMemberSearchGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_communities_id_members_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_communities_id_members_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get moderators of an X Community
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [XCommunitiesIdMemberSearchGet200Response]
    def x_communities_id_moderators_get(id, opts = {})
      data, _status_code, _headers = x_communities_id_moderators_get_with_http_info(id, opts)
      data
    end

    # Get moderators of an X Community
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [Array<(XCommunitiesIdMemberSearchGet200Response, Integer, Hash)>] XCommunitiesIdMemberSearchGet200Response data, response status code and response headers
    def x_communities_id_moderators_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_communities_id_moderators_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling XApi.x_communities_id_moderators_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling XApi.x_communities_id_moderators_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] > 100
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_communities_id_moderators_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_communities_id_moderators_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/communities/{id}/moderators'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expansions'] = opts[:'expansions'] if !opts[:'expansions'].nil?
      query_params[:'tweet.fields'] = opts[:'tweet_fields'] if !opts[:'tweet_fields'].nil?
      query_params[:'user.fields'] = opts[:'user_fields'] if !opts[:'user_fields'].nil?
      query_params[:'media.fields'] = opts[:'media_fields'] if !opts[:'media_fields'].nil?
      query_params[:'place.fields'] = opts[:'place_fields'] if !opts[:'place_fields'].nil?
      query_params[:'poll.fields'] = opts[:'poll_fields'] if !opts[:'poll_fields'].nil?
      query_params[:'pagination_token'] = opts[:'pagination_token'] if !opts[:'pagination_token'].nil?
      query_params[:'next_token'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XCommunitiesIdMemberSearchGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_communities_id_moderators_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_communities_id_moderators_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Posts from an X Community
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [XCommunitiesIdAboutGet200Response]
    def x_communities_id_tweets_get(id, opts = {})
      data, _status_code, _headers = x_communities_id_tweets_get_with_http_info(id, opts)
      data
    end

    # Get Posts from an X Community
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [Array<(XCommunitiesIdAboutGet200Response, Integer, Hash)>] XCommunitiesIdAboutGet200Response data, response status code and response headers
    def x_communities_id_tweets_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_communities_id_tweets_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling XApi.x_communities_id_tweets_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling XApi.x_communities_id_tweets_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] > 100
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_communities_id_tweets_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_communities_id_tweets_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/communities/{id}/tweets'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expansions'] = opts[:'expansions'] if !opts[:'expansions'].nil?
      query_params[:'tweet.fields'] = opts[:'tweet_fields'] if !opts[:'tweet_fields'].nil?
      query_params[:'user.fields'] = opts[:'user_fields'] if !opts[:'user_fields'].nil?
      query_params[:'media.fields'] = opts[:'media_fields'] if !opts[:'media_fields'].nil?
      query_params[:'place.fields'] = opts[:'place_fields'] if !opts[:'place_fields'].nil?
      query_params[:'poll.fields'] = opts[:'poll_fields'] if !opts[:'poll_fields'].nil?
      query_params[:'pagination_token'] = opts[:'pagination_token'] if !opts[:'pagination_token'].nil?
      query_params[:'next_token'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XCommunitiesIdAboutGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_communities_id_tweets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_communities_id_tweets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search X Communities
    # @param query [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @option opts [String] :community_fields 
    # @return [XCommunitiesSearchGet200Response]
    def x_communities_search_get(query, opts = {})
      data, _status_code, _headers = x_communities_search_get_with_http_info(query, opts)
      data
    end

    # Search X Communities
    # @param query [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @option opts [String] :community_fields 
    # @return [Array<(XCommunitiesSearchGet200Response, Integer, Hash)>] XCommunitiesSearchGet200Response data, response status code and response headers
    def x_communities_search_get_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_communities_search_get ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling XApi.x_communities_search_get"
      end
      if @api_client.config.client_side_validation && query.to_s.length < 1
        fail ArgumentError, 'invalid value for "query" when calling XApi.x_communities_search_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] > 100
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_communities_search_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_communities_search_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/communities/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'expansions'] = opts[:'expansions'] if !opts[:'expansions'].nil?
      query_params[:'tweet.fields'] = opts[:'tweet_fields'] if !opts[:'tweet_fields'].nil?
      query_params[:'user.fields'] = opts[:'user_fields'] if !opts[:'user_fields'].nil?
      query_params[:'media.fields'] = opts[:'media_fields'] if !opts[:'media_fields'].nil?
      query_params[:'place.fields'] = opts[:'place_fields'] if !opts[:'place_fields'].nil?
      query_params[:'poll.fields'] = opts[:'poll_fields'] if !opts[:'poll_fields'].nil?
      query_params[:'pagination_token'] = opts[:'pagination_token'] if !opts[:'pagination_token'].nil?
      query_params[:'next_token'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?
      query_params[:'community.fields'] = opts[:'community_fields'] if !opts[:'community_fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XCommunitiesSearchGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_communities_search_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_communities_search_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check whether one X user follows another
    # @param [Hash] opts the optional parameters
    # @option opts [String] :source_id 
    # @option opts [String] :target_id 
    # @option opts [String] :source_screen_name 
    # @option opts [String] :target_screen_name 
    # @return [XFriendshipsShowGet200Response]
    def x_friendships_show_get(opts = {})
      data, _status_code, _headers = x_friendships_show_get_with_http_info(opts)
      data
    end

    # Check whether one X user follows another
    # @param [Hash] opts the optional parameters
    # @option opts [String] :source_id 
    # @option opts [String] :target_id 
    # @option opts [String] :source_screen_name 
    # @option opts [String] :target_screen_name 
    # @return [Array<(XFriendshipsShowGet200Response, Integer, Hash)>] XFriendshipsShowGet200Response data, response status code and response headers
    def x_friendships_show_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_friendships_show_get ...'
      end
      # resource path
      local_var_path = '/x/friendships/show'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'source_id'] = opts[:'source_id'] if !opts[:'source_id'].nil?
      query_params[:'target_id'] = opts[:'target_id'] if !opts[:'target_id'].nil?
      query_params[:'source_screen_name'] = opts[:'source_screen_name'] if !opts[:'source_screen_name'].nil?
      query_params[:'target_screen_name'] = opts[:'target_screen_name'] if !opts[:'target_screen_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XFriendshipsShowGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_friendships_show_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_friendships_show_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get followers/subscribers of an X List
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [XCommunitiesIdMemberSearchGet200Response]
    def x_lists_id_followers_get(id, opts = {})
      data, _status_code, _headers = x_lists_id_followers_get_with_http_info(id, opts)
      data
    end

    # Get followers/subscribers of an X List
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [Array<(XCommunitiesIdMemberSearchGet200Response, Integer, Hash)>] XCommunitiesIdMemberSearchGet200Response data, response status code and response headers
    def x_lists_id_followers_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_lists_id_followers_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling XApi.x_lists_id_followers_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling XApi.x_lists_id_followers_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] > 100
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_lists_id_followers_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_lists_id_followers_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/lists/{id}/followers'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expansions'] = opts[:'expansions'] if !opts[:'expansions'].nil?
      query_params[:'tweet.fields'] = opts[:'tweet_fields'] if !opts[:'tweet_fields'].nil?
      query_params[:'user.fields'] = opts[:'user_fields'] if !opts[:'user_fields'].nil?
      query_params[:'media.fields'] = opts[:'media_fields'] if !opts[:'media_fields'].nil?
      query_params[:'place.fields'] = opts[:'place_fields'] if !opts[:'place_fields'].nil?
      query_params[:'poll.fields'] = opts[:'poll_fields'] if !opts[:'poll_fields'].nil?
      query_params[:'pagination_token'] = opts[:'pagination_token'] if !opts[:'pagination_token'].nil?
      query_params[:'next_token'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XCommunitiesIdMemberSearchGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_lists_id_followers_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_lists_id_followers_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get members of an X List
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [XCommunitiesIdMemberSearchGet200Response]
    def x_lists_id_members_get(id, opts = {})
      data, _status_code, _headers = x_lists_id_members_get_with_http_info(id, opts)
      data
    end

    # Get members of an X List
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [Array<(XCommunitiesIdMemberSearchGet200Response, Integer, Hash)>] XCommunitiesIdMemberSearchGet200Response data, response status code and response headers
    def x_lists_id_members_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_lists_id_members_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling XApi.x_lists_id_members_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling XApi.x_lists_id_members_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] > 100
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_lists_id_members_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_lists_id_members_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/lists/{id}/members'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expansions'] = opts[:'expansions'] if !opts[:'expansions'].nil?
      query_params[:'tweet.fields'] = opts[:'tweet_fields'] if !opts[:'tweet_fields'].nil?
      query_params[:'user.fields'] = opts[:'user_fields'] if !opts[:'user_fields'].nil?
      query_params[:'media.fields'] = opts[:'media_fields'] if !opts[:'media_fields'].nil?
      query_params[:'place.fields'] = opts[:'place_fields'] if !opts[:'place_fields'].nil?
      query_params[:'poll.fields'] = opts[:'poll_fields'] if !opts[:'poll_fields'].nil?
      query_params[:'pagination_token'] = opts[:'pagination_token'] if !opts[:'pagination_token'].nil?
      query_params[:'next_token'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XCommunitiesIdMemberSearchGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_lists_id_members_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_lists_id_members_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Posts from an X List
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [XCommunitiesIdAboutGet200Response]
    def x_lists_id_tweets_get(id, opts = {})
      data, _status_code, _headers = x_lists_id_tweets_get_with_http_info(id, opts)
      data
    end

    # Get Posts from an X List
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [Array<(XCommunitiesIdAboutGet200Response, Integer, Hash)>] XCommunitiesIdAboutGet200Response data, response status code and response headers
    def x_lists_id_tweets_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_lists_id_tweets_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling XApi.x_lists_id_tweets_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling XApi.x_lists_id_tweets_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] > 100
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_lists_id_tweets_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_lists_id_tweets_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/lists/{id}/tweets'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expansions'] = opts[:'expansions'] if !opts[:'expansions'].nil?
      query_params[:'tweet.fields'] = opts[:'tweet_fields'] if !opts[:'tweet_fields'].nil?
      query_params[:'user.fields'] = opts[:'user_fields'] if !opts[:'user_fields'].nil?
      query_params[:'media.fields'] = opts[:'media_fields'] if !opts[:'media_fields'].nil?
      query_params[:'place.fields'] = opts[:'place_fields'] if !opts[:'place_fields'].nil?
      query_params[:'poll.fields'] = opts[:'poll_fields'] if !opts[:'poll_fields'].nil?
      query_params[:'pagination_token'] = opts[:'pagination_token'] if !opts[:'pagination_token'].nil?
      query_params[:'next_token'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XCommunitiesIdAboutGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_lists_id_tweets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_lists_id_tweets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search X Lists
    # @param query [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [XListsSearchGet200Response]
    def x_lists_search_get(query, opts = {})
      data, _status_code, _headers = x_lists_search_get_with_http_info(query, opts)
      data
    end

    # Search X Lists
    # @param query [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [Array<(XListsSearchGet200Response, Integer, Hash)>] XListsSearchGet200Response data, response status code and response headers
    def x_lists_search_get_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_lists_search_get ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling XApi.x_lists_search_get"
      end
      if @api_client.config.client_side_validation && query.to_s.length < 1
        fail ArgumentError, 'invalid value for "query" when calling XApi.x_lists_search_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] > 100
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_lists_search_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_lists_search_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/lists/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'expansions'] = opts[:'expansions'] if !opts[:'expansions'].nil?
      query_params[:'tweet.fields'] = opts[:'tweet_fields'] if !opts[:'tweet_fields'].nil?
      query_params[:'user.fields'] = opts[:'user_fields'] if !opts[:'user_fields'].nil?
      query_params[:'media.fields'] = opts[:'media_fields'] if !opts[:'media_fields'].nil?
      query_params[:'place.fields'] = opts[:'place_fields'] if !opts[:'place_fields'].nil?
      query_params[:'poll.fields'] = opts[:'poll_fields'] if !opts[:'poll_fields'].nil?
      query_params[:'pagination_token'] = opts[:'pagination_token'] if !opts[:'pagination_token'].nil?
      query_params[:'next_token'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XListsSearchGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_lists_search_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_lists_search_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get X trends by WOEID
    # @param woeid [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :max_trends 
    # @option opts [String] :trend_fields 
    # @return [XTrendsByWoeidWoeidGet200Response]
    def x_trends_by_woeid_woeid_get(woeid, opts = {})
      data, _status_code, _headers = x_trends_by_woeid_woeid_get_with_http_info(woeid, opts)
      data
    end

    # Get X trends by WOEID
    # @param woeid [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :max_trends 
    # @option opts [String] :trend_fields 
    # @return [Array<(XTrendsByWoeidWoeidGet200Response, Integer, Hash)>] XTrendsByWoeidWoeidGet200Response data, response status code and response headers
    def x_trends_by_woeid_woeid_get_with_http_info(woeid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_trends_by_woeid_woeid_get ...'
      end
      # verify the required parameter 'woeid' is set
      if @api_client.config.client_side_validation && woeid.nil?
        fail ArgumentError, "Missing the required parameter 'woeid' when calling XApi.x_trends_by_woeid_woeid_get"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && woeid !~ pattern
        fail ArgumentError, "invalid value for 'woeid' when calling XApi.x_trends_by_woeid_woeid_get, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'max_trends'].nil? && opts[:'max_trends'] > 50
        fail ArgumentError, 'invalid value for "opts[:"max_trends"]" when calling XApi.x_trends_by_woeid_woeid_get, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_trends'].nil? && opts[:'max_trends'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_trends"]" when calling XApi.x_trends_by_woeid_woeid_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/trends/by/woeid/{woeid}'.sub('{' + 'woeid' + '}', CGI.escape(woeid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'max_trends'] = opts[:'max_trends'] if !opts[:'max_trends'].nil?
      query_params[:'trend.fields'] = opts[:'trend_fields'] if !opts[:'trend_fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XTrendsByWoeidWoeidGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_trends_by_woeid_woeid_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_trends_by_woeid_woeid_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get X Posts by IDs
    # @param ids [String] Comma-separated resource ids.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @return [XTweetsGet200Response]
    def x_tweets_get(ids, opts = {})
      data, _status_code, _headers = x_tweets_get_with_http_info(ids, opts)
      data
    end

    # Get X Posts by IDs
    # @param ids [String] Comma-separated resource ids.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @return [Array<(XTweetsGet200Response, Integer, Hash)>] XTweetsGet200Response data, response status code and response headers
    def x_tweets_get_with_http_info(ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_tweets_get ...'
      end
      # verify the required parameter 'ids' is set
      if @api_client.config.client_side_validation && ids.nil?
        fail ArgumentError, "Missing the required parameter 'ids' when calling XApi.x_tweets_get"
      end
      if @api_client.config.client_side_validation && ids.to_s.length < 1
        fail ArgumentError, 'invalid value for "ids" when calling XApi.x_tweets_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/tweets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ids'] = ids
      query_params[:'expansions'] = opts[:'expansions'] if !opts[:'expansions'].nil?
      query_params[:'tweet.fields'] = opts[:'tweet_fields'] if !opts[:'tweet_fields'].nil?
      query_params[:'user.fields'] = opts[:'user_fields'] if !opts[:'user_fields'].nil?
      query_params[:'media.fields'] = opts[:'media_fields'] if !opts[:'media_fields'].nil?
      query_params[:'place.fields'] = opts[:'place_fields'] if !opts[:'place_fields'].nil?
      query_params[:'poll.fields'] = opts[:'poll_fields'] if !opts[:'poll_fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XTweetsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_tweets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_tweets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the article-style payload for an X Post
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @return [XTweetsIdArticleGet200Response]
    def x_tweets_id_article_get(id, opts = {})
      data, _status_code, _headers = x_tweets_id_article_get_with_http_info(id, opts)
      data
    end

    # Get the article-style payload for an X Post
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @return [Array<(XTweetsIdArticleGet200Response, Integer, Hash)>] XTweetsIdArticleGet200Response data, response status code and response headers
    def x_tweets_id_article_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_tweets_id_article_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling XApi.x_tweets_id_article_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling XApi.x_tweets_id_article_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/tweets/{id}/article'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expansions'] = opts[:'expansions'] if !opts[:'expansions'].nil?
      query_params[:'tweet.fields'] = opts[:'tweet_fields'] if !opts[:'tweet_fields'].nil?
      query_params[:'user.fields'] = opts[:'user_fields'] if !opts[:'user_fields'].nil?
      query_params[:'media.fields'] = opts[:'media_fields'] if !opts[:'media_fields'].nil?
      query_params[:'place.fields'] = opts[:'place_fields'] if !opts[:'place_fields'].nil?
      query_params[:'poll.fields'] = opts[:'poll_fields'] if !opts[:'poll_fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XTweetsIdArticleGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_tweets_id_article_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_tweets_id_article_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get X Post by ID
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @return [XTweetsIdGet200Response]
    def x_tweets_id_get(id, opts = {})
      data, _status_code, _headers = x_tweets_id_get_with_http_info(id, opts)
      data
    end

    # Get X Post by ID
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @return [Array<(XTweetsIdGet200Response, Integer, Hash)>] XTweetsIdGet200Response data, response status code and response headers
    def x_tweets_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_tweets_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling XApi.x_tweets_id_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling XApi.x_tweets_id_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/tweets/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expansions'] = opts[:'expansions'] if !opts[:'expansions'].nil?
      query_params[:'tweet.fields'] = opts[:'tweet_fields'] if !opts[:'tweet_fields'].nil?
      query_params[:'user.fields'] = opts[:'user_fields'] if !opts[:'user_fields'].nil?
      query_params[:'media.fields'] = opts[:'media_fields'] if !opts[:'media_fields'].nil?
      query_params[:'place.fields'] = opts[:'place_fields'] if !opts[:'place_fields'].nil?
      query_params[:'poll.fields'] = opts[:'poll_fields'] if !opts[:'poll_fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XTweetsIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_tweets_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_tweets_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get users who liked an X Post
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [XCommunitiesIdMemberSearchGet200Response]
    def x_tweets_id_liking_users_get(id, opts = {})
      data, _status_code, _headers = x_tweets_id_liking_users_get_with_http_info(id, opts)
      data
    end

    # Get users who liked an X Post
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [Array<(XCommunitiesIdMemberSearchGet200Response, Integer, Hash)>] XCommunitiesIdMemberSearchGet200Response data, response status code and response headers
    def x_tweets_id_liking_users_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_tweets_id_liking_users_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling XApi.x_tweets_id_liking_users_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling XApi.x_tweets_id_liking_users_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] > 100
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_tweets_id_liking_users_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_tweets_id_liking_users_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/tweets/{id}/liking_users'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expansions'] = opts[:'expansions'] if !opts[:'expansions'].nil?
      query_params[:'tweet.fields'] = opts[:'tweet_fields'] if !opts[:'tweet_fields'].nil?
      query_params[:'user.fields'] = opts[:'user_fields'] if !opts[:'user_fields'].nil?
      query_params[:'media.fields'] = opts[:'media_fields'] if !opts[:'media_fields'].nil?
      query_params[:'place.fields'] = opts[:'place_fields'] if !opts[:'place_fields'].nil?
      query_params[:'poll.fields'] = opts[:'poll_fields'] if !opts[:'poll_fields'].nil?
      query_params[:'pagination_token'] = opts[:'pagination_token'] if !opts[:'pagination_token'].nil?
      query_params[:'next_token'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XCommunitiesIdMemberSearchGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_tweets_id_liking_users_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_tweets_id_liking_users_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get quote Posts for an X Post
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [XCommunitiesIdAboutGet200Response]
    def x_tweets_id_quote_tweets_get(id, opts = {})
      data, _status_code, _headers = x_tweets_id_quote_tweets_get_with_http_info(id, opts)
      data
    end

    # Get quote Posts for an X Post
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [Array<(XCommunitiesIdAboutGet200Response, Integer, Hash)>] XCommunitiesIdAboutGet200Response data, response status code and response headers
    def x_tweets_id_quote_tweets_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_tweets_id_quote_tweets_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling XApi.x_tweets_id_quote_tweets_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling XApi.x_tweets_id_quote_tweets_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] > 100
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_tweets_id_quote_tweets_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_tweets_id_quote_tweets_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/tweets/{id}/quote_tweets'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expansions'] = opts[:'expansions'] if !opts[:'expansions'].nil?
      query_params[:'tweet.fields'] = opts[:'tweet_fields'] if !opts[:'tweet_fields'].nil?
      query_params[:'user.fields'] = opts[:'user_fields'] if !opts[:'user_fields'].nil?
      query_params[:'media.fields'] = opts[:'media_fields'] if !opts[:'media_fields'].nil?
      query_params[:'place.fields'] = opts[:'place_fields'] if !opts[:'place_fields'].nil?
      query_params[:'poll.fields'] = opts[:'poll_fields'] if !opts[:'poll_fields'].nil?
      query_params[:'pagination_token'] = opts[:'pagination_token'] if !opts[:'pagination_token'].nil?
      query_params[:'next_token'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XCommunitiesIdAboutGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_tweets_id_quote_tweets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_tweets_id_quote_tweets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get users who reposted an X Post
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [XCommunitiesIdMemberSearchGet200Response]
    def x_tweets_id_retweeted_by_get(id, opts = {})
      data, _status_code, _headers = x_tweets_id_retweeted_by_get_with_http_info(id, opts)
      data
    end

    # Get users who reposted an X Post
    # @param id [String] X resource id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [Array<(XCommunitiesIdMemberSearchGet200Response, Integer, Hash)>] XCommunitiesIdMemberSearchGet200Response data, response status code and response headers
    def x_tweets_id_retweeted_by_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_tweets_id_retweeted_by_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling XApi.x_tweets_id_retweeted_by_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling XApi.x_tweets_id_retweeted_by_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] > 100
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_tweets_id_retweeted_by_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_tweets_id_retweeted_by_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/tweets/{id}/retweeted_by'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expansions'] = opts[:'expansions'] if !opts[:'expansions'].nil?
      query_params[:'tweet.fields'] = opts[:'tweet_fields'] if !opts[:'tweet_fields'].nil?
      query_params[:'user.fields'] = opts[:'user_fields'] if !opts[:'user_fields'].nil?
      query_params[:'media.fields'] = opts[:'media_fields'] if !opts[:'media_fields'].nil?
      query_params[:'place.fields'] = opts[:'place_fields'] if !opts[:'place_fields'].nil?
      query_params[:'poll.fields'] = opts[:'poll_fields'] if !opts[:'poll_fields'].nil?
      query_params[:'pagination_token'] = opts[:'pagination_token'] if !opts[:'pagination_token'].nil?
      query_params[:'next_token'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XCommunitiesIdMemberSearchGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_tweets_id_retweeted_by_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_tweets_id_retweeted_by_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Translate an X Post
    # @param id [String] X resource id.
    # @param language [String] 
    # @param [Hash] opts the optional parameters
    # @return [XTweetsIdTranslationGet200Response]
    def x_tweets_id_translation_get(id, language, opts = {})
      data, _status_code, _headers = x_tweets_id_translation_get_with_http_info(id, language, opts)
      data
    end

    # Translate an X Post
    # @param id [String] X resource id.
    # @param language [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(XTweetsIdTranslationGet200Response, Integer, Hash)>] XTweetsIdTranslationGet200Response data, response status code and response headers
    def x_tweets_id_translation_get_with_http_info(id, language, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_tweets_id_translation_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling XApi.x_tweets_id_translation_get"
      end
      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling XApi.x_tweets_id_translation_get, the character length must be great than or equal to 1.'
      end

      # verify the required parameter 'language' is set
      if @api_client.config.client_side_validation && language.nil?
        fail ArgumentError, "Missing the required parameter 'language' when calling XApi.x_tweets_id_translation_get"
      end
      if @api_client.config.client_side_validation && language.to_s.length < 1
        fail ArgumentError, 'invalid value for "language" when calling XApi.x_tweets_id_translation_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/tweets/{id}/translation'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'language'] = language

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XTweetsIdTranslationGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_tweets_id_translation_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_tweets_id_translation_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search recent X Posts
    # @param query [String] Recent search query.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [XCommunitiesIdAboutGet200Response]
    def x_tweets_search_recent_get(query, opts = {})
      data, _status_code, _headers = x_tweets_search_recent_get_with_http_info(query, opts)
      data
    end

    # Search recent X Posts
    # @param query [String] Recent search query.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expansions 
    # @option opts [String] :tweet_fields 
    # @option opts [String] :user_fields 
    # @option opts [String] :media_fields 
    # @option opts [String] :place_fields 
    # @option opts [String] :poll_fields 
    # @option opts [String] :pagination_token 
    # @option opts [String] :next_token 
    # @option opts [Integer] :max_results 
    # @return [Array<(XCommunitiesIdAboutGet200Response, Integer, Hash)>] XCommunitiesIdAboutGet200Response data, response status code and response headers
    def x_tweets_search_recent_get_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: XApi.x_tweets_search_recent_get ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling XApi.x_tweets_search_recent_get"
      end
      if @api_client.config.client_side_validation && query.to_s.length < 1
        fail ArgumentError, 'invalid value for "query" when calling XApi.x_tweets_search_recent_get, the character length must be great than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] > 100
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_tweets_search_recent_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_results'].nil? && opts[:'max_results'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_results"]" when calling XApi.x_tweets_search_recent_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/x/tweets/search/recent'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'expansions'] = opts[:'expansions'] if !opts[:'expansions'].nil?
      query_params[:'tweet.fields'] = opts[:'tweet_fields'] if !opts[:'tweet_fields'].nil?
      query_params[:'user.fields'] = opts[:'user_fields'] if !opts[:'user_fields'].nil?
      query_params[:'media.fields'] = opts[:'media_fields'] if !opts[:'media_fields'].nil?
      query_params[:'place.fields'] = opts[:'place_fields'] if !opts[:'place_fields'].nil?
      query_params[:'poll.fields'] = opts[:'poll_fields'] if !opts[:'poll_fields'].nil?
      query_params[:'pagination_token'] = opts[:'pagination_token'] if !opts[:'pagination_token'].nil?
      query_params[:'next_token'] = opts[:'next_token'] if !opts[:'next_token'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'XCommunitiesIdAboutGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"XApi.x_tweets_search_recent_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: XApi#x_tweets_search_recent_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get X users by usernames
[...]
