=begin
#UnifAPI

#Unified, AI-friendly API for public-data providers. Single source of truth for the UnifAPI gateway — consumed by docs (Fumadocs), the marketing site, and downstream SDK generators.

The version of the OpenAPI document: 0.0.1
Contact: support@unifapi.com
Generated by: https://openapi-generator.tech
Generator version: 7.10.0

=end

require 'cgi'

module Unifapi
  class YoutubeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a YouTube channel by id
    # @param channel_id [String] YouTube channel id (&#x60;UCxxx...&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [YoutubeChannelsChannelIdGet200Response]
    def youtube_channels_channel_id_get(channel_id, opts = {})
      data, _status_code, _headers = youtube_channels_channel_id_get_with_http_info(channel_id, opts)
      data
    end

    # Get a YouTube channel by id
    # @param channel_id [String] YouTube channel id (&#x60;UCxxx...&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(YoutubeChannelsChannelIdGet200Response, Integer, Hash)>] YoutubeChannelsChannelIdGet200Response data, response status code and response headers
    def youtube_channels_channel_id_get_with_http_info(channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YoutubeApi.youtube_channels_channel_id_get ...'
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling YoutubeApi.youtube_channels_channel_id_get"
      end
      if @api_client.config.client_side_validation && channel_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "channel_id" when calling YoutubeApi.youtube_channels_channel_id_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/youtube/channels/{channel_id}'.sub('{' + 'channel_id' + '}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'YoutubeChannelsChannelIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"YoutubeApi.youtube_channels_channel_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YoutubeApi#youtube_channels_channel_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Shorts uploaded by a YouTube channel
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [YoutubeChannelsChannelIdShortsGet200Response]
    def youtube_channels_channel_id_shorts_get(channel_id, opts = {})
      data, _status_code, _headers = youtube_channels_channel_id_shorts_get_with_http_info(channel_id, opts)
      data
    end

    # List Shorts uploaded by a YouTube channel
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(YoutubeChannelsChannelIdShortsGet200Response, Integer, Hash)>] YoutubeChannelsChannelIdShortsGet200Response data, response status code and response headers
    def youtube_channels_channel_id_shorts_get_with_http_info(channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YoutubeApi.youtube_channels_channel_id_shorts_get ...'
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling YoutubeApi.youtube_channels_channel_id_shorts_get"
      end
      if @api_client.config.client_side_validation && channel_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "channel_id" when calling YoutubeApi.youtube_channels_channel_id_shorts_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/youtube/channels/{channel_id}/shorts'.sub('{' + 'channel_id' + '}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'YoutubeChannelsChannelIdShortsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"YoutubeApi.youtube_channels_channel_id_shorts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YoutubeApi#youtube_channels_channel_id_shorts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List videos uploaded by a YouTube channel
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [YoutubeChannelsChannelIdShortsGet200Response]
    def youtube_channels_channel_id_videos_get(channel_id, opts = {})
      data, _status_code, _headers = youtube_channels_channel_id_videos_get_with_http_info(channel_id, opts)
      data
    end

    # List videos uploaded by a YouTube channel
    # @param channel_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(YoutubeChannelsChannelIdShortsGet200Response, Integer, Hash)>] YoutubeChannelsChannelIdShortsGet200Response data, response status code and response headers
    def youtube_channels_channel_id_videos_get_with_http_info(channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YoutubeApi.youtube_channels_channel_id_videos_get ...'
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling YoutubeApi.youtube_channels_channel_id_videos_get"
      end
      if @api_client.config.client_side_validation && channel_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "channel_id" when calling YoutubeApi.youtube_channels_channel_id_videos_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/youtube/channels/{channel_id}/videos'.sub('{' + 'channel_id' + '}', CGI.escape(channel_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'YoutubeChannelsChannelIdShortsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"YoutubeApi.youtube_channels_channel_id_videos_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YoutubeApi#youtube_channels_channel_id_videos_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resolve a YouTube channel URL to its UC… channel id
    # @param url [String] Full channel URL — supports &#x60;youtube.com/@handle&#x60;, &#x60;/channel/UC…&#x60;, &#x60;/c/name&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [YoutubeResolveChannelIdGet200Response]
    def youtube_resolve_channel_id_get(url, opts = {})
      data, _status_code, _headers = youtube_resolve_channel_id_get_with_http_info(url, opts)
      data
    end

    # Resolve a YouTube channel URL to its UC… channel id
    # @param url [String] Full channel URL — supports &#x60;youtube.com/@handle&#x60;, &#x60;/channel/UC…&#x60;, &#x60;/c/name&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(YoutubeResolveChannelIdGet200Response, Integer, Hash)>] YoutubeResolveChannelIdGet200Response data, response status code and response headers
    def youtube_resolve_channel_id_get_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YoutubeApi.youtube_resolve_channel_id_get ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling YoutubeApi.youtube_resolve_channel_id_get"
      end
      # resource path
      local_var_path = '/youtube/resolve/channel-id'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'YoutubeResolveChannelIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"YoutubeApi.youtube_resolve_channel_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YoutubeApi#youtube_resolve_channel_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search YouTube videos by keyword
    # @param q [String] Search keyword.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [YoutubeChannelsChannelIdShortsGet200Response]
    def youtube_search_get(q, opts = {})
      data, _status_code, _headers = youtube_search_get_with_http_info(q, opts)
      data
    end

    # Search YouTube videos by keyword
    # @param q [String] Search keyword.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(YoutubeChannelsChannelIdShortsGet200Response, Integer, Hash)>] YoutubeChannelsChannelIdShortsGet200Response data, response status code and response headers
    def youtube_search_get_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YoutubeApi.youtube_search_get ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling YoutubeApi.youtube_search_get"
      end
      if @api_client.config.client_side_validation && q.to_s.length < 1
        fail ArgumentError, 'invalid value for "q" when calling YoutubeApi.youtube_search_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/youtube/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'YoutubeChannelsChannelIdShortsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"YoutubeApi.youtube_search_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YoutubeApi#youtube_search_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Browse YouTube's trending videos
    # @param [Hash] opts the optional parameters
    # @option opts [String] :language_code Optional language code, e.g. &#x60;en&#x60;.
    # @return [YoutubeTrendingGet200Response]
    def youtube_trending_get(opts = {})
      data, _status_code, _headers = youtube_trending_get_with_http_info(opts)
      data
    end

    # Browse YouTube&#39;s trending videos
    # @param [Hash] opts the optional parameters
    # @option opts [String] :language_code Optional language code, e.g. &#x60;en&#x60;.
    # @return [Array<(YoutubeTrendingGet200Response, Integer, Hash)>] YoutubeTrendingGet200Response data, response status code and response headers
    def youtube_trending_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YoutubeApi.youtube_trending_get ...'
      end
      # resource path
      local_var_path = '/youtube/trending'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'language_code'] = opts[:'language_code'] if !opts[:'language_code'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'YoutubeTrendingGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"YoutubeApi.youtube_trending_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YoutubeApi#youtube_trending_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a YouTube video by id
    # @param video_id [String] YouTube video id, e.g. &#x60;oaSNBz4qMQY&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [YoutubeVideosVideoIdGet200Response]
    def youtube_videos_video_id_get(video_id, opts = {})
      data, _status_code, _headers = youtube_videos_video_id_get_with_http_info(video_id, opts)
      data
    end

    # Get a YouTube video by id
    # @param video_id [String] YouTube video id, e.g. &#x60;oaSNBz4qMQY&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(YoutubeVideosVideoIdGet200Response, Integer, Hash)>] YoutubeVideosVideoIdGet200Response data, response status code and response headers
    def youtube_videos_video_id_get_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YoutubeApi.youtube_videos_video_id_get ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling YoutubeApi.youtube_videos_video_id_get"
      end
      if @api_client.config.client_side_validation && video_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "video_id" when calling YoutubeApi.youtube_videos_video_id_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/youtube/videos/{video_id}'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'YoutubeVideosVideoIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"YoutubeApi.youtube_videos_video_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YoutubeApi#youtube_videos_video_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List YouTube videos related to a given video
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [YoutubeChannelsChannelIdShortsGet200Response]
    def youtube_videos_video_id_related_get(video_id, opts = {})
      data, _status_code, _headers = youtube_videos_video_id_related_get_with_http_info(video_id, opts)
      data
    end

    # List YouTube videos related to a given video
    # @param video_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @return [Array<(YoutubeChannelsChannelIdShortsGet200Response, Integer, Hash)>] YoutubeChannelsChannelIdShortsGet200Response data, response status code and response headers
    def youtube_videos_video_id_related_get_with_http_info(video_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: YoutubeApi.youtube_videos_video_id_related_get ...'
      end
      # verify the required parameter 'video_id' is set
      if @api_client.config.client_side_validation && video_id.nil?
        fail ArgumentError, "Missing the required parameter 'video_id' when calling YoutubeApi.youtube_videos_video_id_related_get"
      end
      if @api_client.config.client_side_validation && video_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "video_id" when calling YoutubeApi.youtube_videos_video_id_related_get, the character length must be great than or equal to 1.'
      end

      # resource path
      local_var_path = '/youtube/videos/{video_id}/related'.sub('{' + 'video_id' + '}', CGI.escape(video_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'YoutubeChannelsChannelIdShortsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"YoutubeApi.youtube_videos_video_id_related_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: YoutubeApi#youtube_videos_video_id_related_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
